ClientRegistryAdmin/Service References/ClientRegistryAdminService/admin.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8080/admin?xsd=xsd1" namespace="urn:marc-hi:svc:componentModel" />
  <xs:element name="GetLogFiles">
    <xs:complexType />
  </xs:element>
  <xs:element name="GetLogFilesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetLogFilesResult" type="tns:ArrayOfLogInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfLogInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LogInfo" nillable="true" type="tns:LogInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LogInfo">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="size" type="xs:long" />
      <xs:element minOccurs="1" maxOccurs="1" name="lastModified" type="xs:dateTime" />
    </xs:sequence>
    <xs:attribute name="id" type="xs:string" />
  </xs:complexType>
  <xs:element name="GetLog">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="id" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLogResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetLogResult" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServices">
    <xs:complexType />
  </xs:element>
  <xs:element name="GetServicesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetServicesResult" type="tns:ArrayOfServiceStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfServiceStatus">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ServiceStatus" nillable="true" type="tns:ServiceStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ServiceStatus">
    <xs:attribute name="contract" type="xs:string" />
    <xs:attribute name="class" type="xs:string" />
    <xs:attribute name="version" type="xs:string" />
  </xs:complexType>
  <xs:element name="GetRegistrations">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="urn:marc-hi:svc:componentModel" minOccurs="0" maxOccurs="1" name="queryPrototype" type="q1:Person" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRegistrationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetRegistrationsResult" type="tns:RegistrationEventCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="RegistrationEventCollection">
    <xs:sequence>
      <xs:element xmlns:q2="urn:marc-hi:svc:componentModel" minOccurs="0" maxOccurs="unbounded" name="registration" type="q2:HealthServiceRecord" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetRecentActivity">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="urn:marc-hi:svc:componentModel" minOccurs="0" maxOccurs="1" name="range" type="q3:TimestampSet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRecentActivityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetRecentActivityResult" type="tns:RegistrationEventCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRegistrationEvent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="id" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRegistrationEventResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="urn:marc-hi:svc:componentModel" minOccurs="0" maxOccurs="1" name="GetRegistrationEventResult" type="q4:HealthServiceRecord" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConflicts">
    <xs:complexType />
  </xs:element>
  <xs:element name="GetConflictsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetConflictsResult" type="tns:ConflictCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ConflictCollection">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="conflict" type="tns:ConflictedVersionIdentifier" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ConflictedVersionIdentifier">
    <xs:sequence>
      <xs:element xmlns:q5="urn:marc-hi:svc:componentModel" minOccurs="0" maxOccurs="1" name="source" type="q5:HealthServiceRecord" />
      <xs:element xmlns:q6="urn:marc-hi:svc:componentModel" minOccurs="0" maxOccurs="unbounded" name="matches" type="q6:HealthServiceRecord" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetConflict">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="id" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConflictResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetConflictResult" type="tns:ConflictCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Merge">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="sourceIds" type="tns:ArrayOfDecimal" />
        <xs:element minOccurs="1" maxOccurs="1" name="targetId" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfDecimal">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="decimal" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MergeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="urn:marc-hi:svc:componentModel" minOccurs="0" maxOccurs="1" name="MergeResult" type="q7:HealthServiceRecord" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Resolve">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="sourceId" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResolveResponse">
    <xs:complexType />
  </xs:element>
  <xs:element name="GetOids">
    <xs:complexType />
  </xs:element>
  <xs:element name="GetOidsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetOidsResult" type="tns:ArrayOfOidInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfOidInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OidInfo" nillable="true" type="tns:OidInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OidInfo" mixed="true">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="attribute" type="tns:AttributeData" />
    </xs:sequence>
    <xs:attribute name="oid" type="xs:string" />
    <xs:attribute name="url" type="xs:string" />
    <xs:attribute name="key" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="AttributeData">
    <xs:attribute name="key" type="xs:string" />
    <xs:attribute name="value" type="xs:string" />
  </xs:complexType>
</xs:schema>