Solution Items/WSDL/CA/Schemas/COCT_MT050202CA.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:hl7-org:v3"
           xmlns:ex="urn:hl7-org/v3-example"
           targetNamespace="urn:hl7-org:v3"
           elementFormDefault="qualified"><!--
*****************************************************************************************************************
* XML schema for message type COCT_MT050202CA.
* Source information:
*     Rendered by: Visio to MIF transform
*     Rendered on: 
* 
*
* Generated by XMLITS version 3.2.2
*   MIF to XSD Transform $Id: StaticMifToXsd.xsl 7598 2009-03-16 19:52:42Z wbeeler $
*     Package Id Conversion: $Id: TransformPackageIds.xsl 7375 2009-01-26 19:26:53Z wbeeler $
*
* Copyright (c) 2002, 2003, 2004, 2005, 2006, 2007 Health Level Seven. All rights reserved.
*  Redistribution and use in source and binary forms, with or without
*  modification, are permitted provided that the following conditions
*  are met:
*  1. Redistributions of source code must retain the above copyright
*     notice, this list of conditions and the following disclaimer.
*  2. Redistributions in binary form must reproduce the above copyright
*     notice, this list of conditions and the following disclaimer in the
*     documentation and/or other materials provided with the distribution.
*  3. All advertising materials mentioning features or use of this software
*     must display the following acknowledgement:
*       This product includes software developed by Health Level Seven.
*  THIS SOFTWARE IS PROVIDED BY HEALTH LEVEL SEVEN, INC. AND CONTRIBUTORS "AS IS" AND
*  ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
*  IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
*  ARE DISCLAIMED.  IN NO EVENT SHALL THE REGENTS OR CONTRIBUTORS BE LIABLE
*  FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
*  DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS
*  OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
*  HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
*  LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY
*  OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
*  SUCH DAMAGE.
*
********************************************************************************************************************
	  --><xs:annotation>
      <xs:documentation>Generated using schema builder version 3.2.2. Stylesheets:

StaticMifToXsd.xsl version 2.0</xs:documentation>
      <xs:appinfo>
         <mif:serializedStaticModel xmlns:mif="urn:hl7-org:v3/mif" packageKind="realm"
                                    representationKind="serialized"
                                    isAbstract="false"
                                    title="Patient Person identified-confirmable"
                                    isSerializable="true"
                                    name="CA">
            <mif:packageLocation root="DEFN" section="IM" subSection="CO" domain="CT" artifact="MT-deprecated"
                                 realm="CA"
                                 id="050202"/>
            <mif:header>
               <mif:renderingInformation schemaVersion="1" application="Visio to MIF transform"/>
               <mif:legalese copyrightOwner="Health Level Seven" copyrightYears="2010">
                  <mif:notation>All rights reserved.</mif:notation>
               </mif:legalese>
            </mif:header>
            <mif:graphicRepresentation presentation="HL7">
               <mif:graphElement name="Main">
                  <mif:position x="0.0" y="0.0"/>
                  <mif:size width="5.887" height="2.047"/>
               </mif:graphElement>
            </mif:graphicRepresentation>
            <mif:derivationSupplier staticModelDerivationId="1">
               <mif:targetStaticModel root="DEFN" artifact="RIM" version="0226"/>
            </mif:derivationSupplier>
            <mif:importedDatatypeModelPackage root="DEFN" artifact="DT" realm="CA" version="R02.04.xx"/>
            <mif:importedVocabularyModelPackage root="DEFN" artifact="VO" realm="CA" version="R02.04.xx"/>
            <mif:importedCommonModelElementPackage root="DEFN" artifact="CMET" realm="CA" version="R02.04.xx"/>
            <mif:ownedEntryPoint id="COCT_MT050202CA" name="Patient Person identified-confirmable"
                                 isAbstract="false">
               <mif:graphicRepresentation>
                  <mif:graphElement shapeId="Sheet.19" containerDiagramName="Main">
                     <mif:position x="0.028" y="-0.822"/>
                     <mif:size width="2.545" height="0.453"/>
                     <mif:anchorage connectToShapeId="Sheet.19">
                        <mif:position x="2.573" y="0.313"/>
                        <mif:graphEdge>
                           <mif:anchor connectToShapeId="Sheet.1">
                              <mif:position x="2.712" y="0.332"/>
                           </mif:anchor>
                        </mif:graphEdge>
                     </mif:anchorage>
                  </mif:graphElement>
               </mif:graphicRepresentation>
               <mif:specializedClass>
                  <mif:reference name="Patient"/>
               </mif:specializedClass>
            </mif:ownedEntryPoint>
         </mif:serializedStaticModel>
      </xs:appinfo>
   </xs:annotation>
   <xs:include schemaLocation="../coreschemas/infrastructureRoot.xsd"/>
   <xs:complexType name="COCT_MT050202CA.Patient">
      <xs:annotation>
         <xs:appinfo>
            <mif:class xmlns:mif="urn:hl7-org:v3/mif" name="Patient" isAbstract="false">
               <mif:businessName name="Patient"/>
               <mif:derivationSupplier staticModelDerivationId="1" className="Patient"/>
               <mif:graphicRepresentation presentation="HL7">
                  <mif:graphElement shapeId="Sheet.1" containerDiagramName="Main" shapeTemplate="Role"
                                    isWidthAutoSize="true"
                                    isHeightAutoSize="true">
                     <mif:position x="2.712" y="0.075"/>
                     <mif:size width="2.418" height="0.514"/>
                  </mif:graphElement>
               </mif:graphicRepresentation>
               <mif:annotations>
                  <mif:definition>
                     <mif:text>
                        <mif:p>
                           <mif:p>A person who is receiving or may receive healthcare services and has personal attributes (e.g. name, birth date).</mif:p>
                        </mif:p>
                     </mif:text>
                  </mif:definition>
                  <mif:usageNotes>
                     <mif:text>
                        <mif:p>
                           <mif:p>Only the identifier attribute is intended to be persisted, with the remaining attributes confirmed against the provider registry.</mif:p>
                        </mif:p>
                     </mif:text>
                  </mif:usageNotes>
                  <mif:rationale>
                     <mif:text>
                        <mif:p>
                           <mif:p>Information used to identify the patient and confirm their identity against the client registry.</mif:p>
                        </mif:p>
                     </mif:text>
                  </mif:rationale>
               </mif:annotations>
            </mif:class>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="3">
            <xs:annotation>
               <xs:appinfo>
                  <mif:attribute xmlns:mif="urn:hl7-org:v3/mif" name="id" sortKey="2" minimumMultiplicity="1"
                                 maximumMultiplicity="3"
                                 conformance="R"
                                 isMandatory="true"
                                 isStructural="false">
                     <mif:businessName name="A:Patient Identifier"/>
                     <mif:annotations>
                        <mif:definition>
                           <mif:text>
                              <mif:p>
                                 <mif:p>Unique identifier assigned to a person by Federal, Provincial and Territorial jurisdiction for the purposes of uniquely identifying the person within the EHR.</mif:p>
                              </mif:p>
                              <mif:p>
                                 <mif:p>The EHR will define which identifier to use within a jurisdiction.</mif:p>
                              </mif:p>
                           </mif:text>
                        </mif:definition>
                        <mif:rationale>
                           <mif:text>
                              <mif:p>
                                 <mif:p>Allows a patient to be referred to unambiguously. Because this is the principal mechanism for identifying patients to computer systems, the attribute is mandatory. If an identifier is not known, it should be looked up using the 'client registry' capabilities of the EHR application. The cardinality of patient identifiers is up to 3 based on the use case to support communication of a local and jurisdictional identifier along with the national identifier.</mif:p>
                              </mif:p>
                           </mif:text>
                        </mif:rationale>
                        <mif:mapping sourceName="CPhAv3">
                           <mif:text>
                              <mif:p>
                                 <mif:p>C39 (Extension)</mif:p>
                              </mif:p>
                           </mif:text>
                        </mif:mapping>
                        <mif:mapping sourceName="eScript">
                           <mif:text>
                              <mif:p>
                                 <mif:p>PTT.050.01 (Extension)</mif:p>
                              </mif:p>
                           </mif:text>
                        </mif:mapping>
                        <mif:mapping sourceName="eScript">
                           <mif:text>
                              <mif:p>
                                 <mif:p>PTT.050.02 (Root)</mif:p>
                              </mif:p>
                           </mif:text>
                        </mif:mapping>
                        <mif:mapping sourceName="HC-AE">
                           <mif:text>
                              <mif:p>
                                 <mif:p>A.1</mif:p>
                              </mif:p>
                           </mif:text>
                        </mif:mapping>
                        <mif:mapping sourceName="Immunization">
                           <mif:text>
                              <mif:p>
                                 <mif:p>PID.2</mif:p>
                              </mif:p>
                           </mif:text>
                        </mif:mapping>
                        <mif:mapping sourceName="NCPDP">
                           <mif:text>
                              <mif:p>
                                 <mif:p>Patient.332-CY (Extension)</mif:p>
                              </mif:p>
                           </mif:text>
                        </mif:mapping>
                        <mif:mapping sourceName="NCPDP">
                           <mif:text>
                              <mif:p>
                                 <mif:p>Patient.331-CX (Root)</mif:p>
                              </mif:p>
                           </mif:text>
                        </mif:mapping>
                        <mif:mapping sourceName="NCPDP">
                           <mif:text>
                              <mif:p>
                                 <mif:p>Claim.330-CW</mif:p>
                              </mif:p>
                           </mif:text>
                        </mif:mapping>
                        <mif:mapping sourceName="Ontario">
                           <mif:text>
                              <mif:p>
                                 <mif:p>Health Card Number</mif:p>
                              </mif:p>
                           </mif:text>
                        </mif:mapping>
                        <mif:mapping sourceName="PECS">
                           <mif:text>
                              <mif:p>
                                 <mif:p>PID.2</mif:p>
                              </mif:p>
                           </mif:text>
                        </mif:mapping>
                        <mif:mapping sourceName="PECS">
                           <mif:text>
                              <mif:p>
                                 <mif:p>PID.4</mif:p>
                              </mif:p>
                           </mif:text>
                        </mif:mapping>
                        <mif:mapping sourceName="PECS">
                           <mif:text>
                              <mif:p>
                                 <mif:p>ZDU.2</mif:p>
                              </mif:p>
                           </mif:text>
                        </mif:mapping>
                        <mif:mapping sourceName="PECS">
                           <mif:text>
                              <mif:p>
                                 <mif:p>ZKW.3</mif:p>
                              </mif:p>
                           </mif:text>
                        </mif:mapping>
                        <mif:mapping sourceName="PEI">
                           <mif:text>
                              <mif:p>
                                 <mif:p>Jurisdiction (Root)</mif:p>
                              </mif:p>
                           </mif:text>
                        </mif:mapping>
                        <mif:mapping sourceName="PIN">
                           <mif:text>
                              <mif:p>
                                 <mif:p>Person.PHN (Extension)</mif:p>
                              </mif:p>
                           </mif:text>
                        </mif:mapping>
                     </mif:annotations>
                     <mif:derivationSupplier staticModelDerivationId="1" className="Patient" attributeName="id"/>
                     <mif:type name="SET">
                        <mif:supplierBindingArgumentDatatype name="II.PUBLIC"/>
                     </mif:type>
                  </mif:attribute>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="patientPerson" type="COCT_MT050202CA.Person" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <mif:targetConnection xmlns:mif="urn:hl7-org:v3/mif" name="patientPerson" minimumMultiplicity="1"
                                        maximumMultiplicity="1"
                                        conformance="R"
                                        isMandatory="true"
                                        sortKey="AZ">
                     <mif:derivationSupplier staticModelDerivationId="1" className="Role" associationEndName="player"/>
                     <mif:participantClass>
                        <mif:reference name="Person"/>
                     </mif:participantClass>
                  </mif:targetConnection>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="RoleClass" use="optional" fixed="PAT"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT050202CA.Person">
      <xs:annotation>
         <xs:appinfo>
            <mif:class xmlns:mif="urn:hl7-org:v3/mif" name="Person" isAbstract="false">
               <mif:derivationSupplier staticModelDerivationId="1" className="Person"/>
               <mif:graphicRepresentation presentation="HL7">
                  <mif:graphElement shapeId="Sheet.11" containerDiagramName="Main" shapeTemplate="Entity"
                                    isWidthAutoSize="true"
                                    isHeightAutoSize="true">
                     <mif:position x="2.222" y="0.989"/>
                     <mif:size width="3.403" height="1.048"/>
                  </mif:graphElement>
               </mif:graphicRepresentation>
            </mif:class>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="name" type="PN" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <mif:attribute xmlns:mif="urn:hl7-org:v3/mif" name="name" sortKey="3" minimumMultiplicity="1"
                                 maximumMultiplicity="1"
                                 conformance="R"
                                 isMandatory="false"
                                 isStructural="false">
                     <mif:businessName name="B:Patient Name"/>
                     <mif:annotations>
                        <mif:definition>
                           <mif:text>
                              <mif:p>
                                 <mif:p>The name by which the patient is known to the underlying client registry application</mif:p>
                              </mif:p>
                           </mif:text>
                        </mif:definition>
                        <mif:rationale>
                           <mif:text>
                              <mif:p>
                                 <mif:p>Used, with other patient identity attributes, to confirm patient identity.</mif:p>
                              </mif:p>
                              <mif:p>
                                 <mif:p>This element is 'populated' because the patient's name is necessary for positive identification of the patient in the jurisdictional client registry, however in some circumstances it may not exist in the registry (e.g. newborn).</mif:p>
                              </mif:p>
                           </mif:text>
                        </mif:rationale>
                        <mif:mapping sourceName="BC">
                           <mif:text>
                              <mif:p>
                                 <mif:p>ZPA.1 (partType=Given)</mif:p>
                              </mif:p>
                           </mif:text>
                        </mif:mapping>
                        <mif:mapping sourceName="BC">
                           <mif:text>
                              <mif:p>
                                 <mif:p>ZPA.2 (partType=Family)</mif:p>
                              </mif:p>
                           </mif:text>
                        </mif:mapping>
                        <mif:mapping sourceName="BC">
                           <mif:text>
                              <mif:p>
                                 <mif:p>ZPA.3 (partType=Given - all repetitions except first)</mif:p>
                              </mif:p>
                           </mif:text>
                        </mif:mapping>
                        <mif:mapping sourceName="CPhAv3">
                           <mif:text>
                              <mif:p>
                                 <mif:p>C37 (partType=Given)</mif:p>
                              </mif:p>
                           </mif:text>
                        </mif:mapping>
                        <mif:mapping sourceName="CPhAv3">
                           <mif:text>
                              <mif:p>
                                 <mif:p>C38 (partType=Family)</mif:p>
                              </mif:p>
                           </mif:text>
                        </mif:mapping>
                        <mif:mapping sourceName="eScript">
                           <mif:text>
                              <mif:p>
                                 <mif:p>PTT.030-01 (partType=Family)</mif:p>
                              </mif:p>
                           </mif:text>
                        </mif:mapping>
                        <mif:mapping sourceName="eScript">
                           <mif:text>
                              <mif:p>
                                 <mif:p>PTT.030-02 (partType=Given - 1st occurrence)</mif:p>
                              </mif:p>
                           </mif:text>
                        </mif:mapping>
                        <mif:mapping sourceName="eScript">
                           <mif:text>
                              <mif:p>
                                 <mif:p>PTT.030-03 (partType=Given - subsequen occurrences)</mif:p>
                              </mif:p>
                           </mif:text>
                        </mif:mapping>
                        <mif:mapping sourceName="eScript">
                           <mif:text>
                              <mif:p>
                                 <mif:p>PTT.030-04 (partType=Suffix)</mif:p>
                              </mif:p>
                           </mif:text>
                        </mif:mapping>
                        <mif:mapping sourceName="eScript">
                           <mif:text>
                              <mif:p>
                                 <mif:p>PTT.030-05 (partType=Prefix)</mif:p>
                              </mif:p>
                           </mif:text>
                        </mif:mapping>
                        <mif:mapping sourceName="HC-SA">
                           <mif:text>
                              <mif:p>
                                 <mif:p>patient Initials</mif:p>
                              </mif:p>
                           </mif:text>
                        </mif:mapping>
                        <mif:mapping sourceName="Immunization">
                           <mif:text>
                              <mif:p>
                                 <mif:p>PID.5</mif:p>
                              </mif:p>
                           </mif:text>
                        </mif:mapping>
                        <mif:mapping sourceName="NCPDP">
                           <mif:text>
                              <mif:p>
                                 <mif:p>Patient.310-CA (partType=Given)</mif:p>
                              </mif:p>
                           </mif:text>
                        </mif:mapping>
                        <mif:mapping sourceName="NCPDP">
                           <mif:text>
                              <mif:p>
                                 <mif:p>Patient.311-CB (partType=Family)</mif:p>
                              </mif:p>
                           </mif:text>
                        </mif:mapping>
                        <mif:mapping sourceName="Ontario">
                           <mif:text>
                              <mif:p>
                                 <mif:p>Recipient Name First (partType=Given)</mif:p>
                              </mif:p>
                           </mif:text>
                        </mif:mapping>
                        <mif:mapping sourceName="Ontario">
                           <mif:text>
                              <mif:p>
                                 <mif:p>Recipient Name Last (partType=Family)</mif:p>
                              </mif:p>
                           </mif:text>
                        </mif:mapping>
                        <mif:mapping sourceName="PECS">
                           <mif:text>
                              <mif:p>
                                 <mif:p>PID.5</mif:p>
                              </mif:p>
                           </mif:text>
                        </mif:mapping>
                        <mif:mapping sourceName="PECS">
                           <mif:text>
                              <mif:p>
                                 <mif:p>PID.9 (any name other than first repetition is an alias)</mif:p>
                              </mif:p>
                           </mif:text>
                        </mif:mapping>
                        <mif:mapping sourceName="PECS">
                           <mif:text>
                              <mif:p>
                                 <mif:p>ZDU.3</mif:p>
                              </mif:p>
                           </mif:text>
                        </mif:mapping>
                        <mif:mapping sourceName="PECS">
                           <mif:text>
                              <mif:p>
                                 <mif:p>ZKW.2</mif:p>
                              </mif:p>
                           </mif:text>
                        </mif:mapping>
                        <mif:mapping sourceName="PIN">
                           <mif:text>
                              <mif:p>
                                 <mif:p>Person.givenName</mif:p>
                              </mif:p>
                           </mif:text>
                        </mif:mapping>
                        <mif:mapping sourceName="PIN">
                           <mif:text>
                              <mif:p>
                                 <mif:p>Person.lastName</mif:p>
                              </mif:p>
                           </mif:text>
                        </mif:mapping>
                        <mif:mapping sourceName="PIN">
                           <mif:text>
                              <mif:p>
                                 <mif:p>Person.middleName</mif:p>
                              </mif:p>
                           </mif:text>
                        </mif:mapping>
                        <mif:mapping sourceName="PIN">
                           <mif:text>
                              <mif:p>
                                 <mif:p>Person.namePrefix</mif:p>
                              </mif:p>
                           </mif:text>
                        </mif:mapping>
                        <mif:mapping sourceName="PIN">
                           <mif:text>
                              <mif:p>
                                 <mif:p>Person.nameSuffix</mif:p>
                              </mif:p>
                           </mif:text>
                        </mif:mapping>
                     </mif:annotations>
                     <mif:derivationSupplier staticModelDerivationId="1" className="Person" attributeName="name"/>
                     <mif:type name="PN.BASIC"/>
                  </mif:attribute>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="administrativeGenderCode" type="CV" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <mif:attribute xmlns:mif="urn:hl7-org:v3/mif" name="administrativeGenderCode" sortKey="4"
                                 minimumMultiplicity="1"
                                 maximumMultiplicity="1"
                                 conformance="R"
                                 isMandatory="false"
                                 isStructural="false">
                     <mif:businessName name="F:Patient Gender"/>
                     <mif:annotations>
                        <mif:definition>
                           <mif:text>
                              <mif:p>
                                 <mif:p>Indicates the gender (sex) of the patient as known by the client registry. Complex genetic genders are handled as observations if they are considered relevant.</mif:p>
                              </mif:p>
                           </mif:text>
                        </mif:definition>
                        <mif:rationale>
                           <mif:text>
                              <mif:p>
                                 <mif:p>Used to confirm patient identity.</mif:p>
                              </mif:p>
                              <mif:p>
                                 <mif:p>The element is mandatory because the patient's gender is necessary for positive identification of the patient in the jurisdictional client registry and should always be known.</mif:p>
                              </mif:p>
                           </mif:text>
                        </mif:rationale>
                     </mif:annotations>
                     <mif:derivationSupplier staticModelDerivationId="1" className="Person"
                                             attributeName="administrativeGenderCode"/>
                     <mif:type name="CV"/>
                     <mif:supplierDomainSpecification codingStrength="CNE" domainName="AdministrativeGender"/>
                  </mif:attribute>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="birthTime" type="TS" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <mif:attribute xmlns:mif="urn:hl7-org:v3/mif" name="birthTime" sortKey="5"
                                 minimumMultiplicity="1"
                                 maximumMultiplicity="1"
                                 conformance="R"
                                 isMandatory="false"
                                 isStructural="false">
                     <mif:businessName name="E:Patient Birth Date"/>
                     <mif:annotations>
                        <mif:definition>
                           <mif:text>
                              <mif:p>
                                 <mif:p>Indicates the date on which the patient was born, as known by the client registry.</mif:p>
                              </mif:p>
                           </mif:text>
                        </mif:definition>
                        <mif:rationale>
                           <mif:text>
                              <mif:p>
                                 <mif:p>Used to confirm patient identity.</mif:p>
                              </mif:p>
                              <mif:p>
                                 <mif:p>This element is 'populated' because the patient's birth date is necessary for positive identification of the patient in the jurisdictional client registry. However, there may be circumstances where the date of birth is not known to the registry.</mif:p>
                              </mif:p>
                           </mif:text>
                        </mif:rationale>
                     </mif:annotations>
                     <mif:derivationSupplier staticModelDerivationId="1" className="Person" attributeName="birthTime"/>
                     <mif:type name="TS.DATE"/>
                  </mif:attribute>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="EntityClass" use="optional" fixed="PSN"/>
      <xs:attribute name="determinerCode" type="EntityDeterminer" use="optional" fixed="INSTANCE"/>
   </xs:complexType>
</xs:schema>