Solution Items/WSDL/CA/Schemas/MFMI_MT700726CA.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:hl7-org:v3"
           xmlns:ex="urn:hl7-org/v3-example"
           targetNamespace="urn:hl7-org:v3"
           elementFormDefault="qualified"><!--
*****************************************************************************************************************
* XML schema for message type MFMI_MT700726CA.
* Source information:
*     Rendered by: Visio to MIF transform
*     Rendered on: 
* 
*
* Generated by XMLITS version 3.2.2
*   MIF to XSD Transform $Id: StaticMifToXsd.xsl 7598 2009-03-16 19:52:42Z wbeeler $
*     Package Id Conversion: $Id: TransformPackageIds.xsl 7375 2009-01-26 19:26:53Z wbeeler $
*
* Copyright (c) 2002, 2003, 2004, 2005, 2006, 2007 Health Level Seven. All rights reserved.
*  Redistribution and use in source and binary forms, with or without
*  modification, are permitted provided that the following conditions
*  are met:
*  1. Redistributions of source code must retain the above copyright
*     notice, this list of conditions and the following disclaimer.
*  2. Redistributions in binary form must reproduce the above copyright
*     notice, this list of conditions and the following disclaimer in the
*     documentation and/or other materials provided with the distribution.
*  3. All advertising materials mentioning features or use of this software
*     must display the following acknowledgement:
*       This product includes software developed by Health Level Seven.
*  THIS SOFTWARE IS PROVIDED BY HEALTH LEVEL SEVEN, INC. AND CONTRIBUTORS "AS IS" AND
*  ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
*  IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
*  ARE DISCLAIMED.  IN NO EVENT SHALL THE REGENTS OR CONTRIBUTORS BE LIABLE
*  FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
*  DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS
*  OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
*  HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
*  LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY
*  OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
*  SUCH DAMAGE.
*
********************************************************************************************************************
	  --><xs:annotation>
      <xs:documentation>Generated using schema builder version 3.2.2. Stylesheets:

StaticMifToXsd.xsl version 2.0</xs:documentation>
      <xs:appinfo>
         <mif:serializedStaticModel xmlns:mif="urn:hl7-org:v3/mif" packageKind="realm"
                                    representationKind="serialized"
                                    isAbstract="false"
                                    title="Registry Response Wrapper - Device Initiated With Role Payload"
                                    isSerializable="true"
                                    name="CA">
            <mif:packageLocation root="DEFN" section="IM" subSection="MF" domain="MI" artifact="MT-deprecated"
                                 realm="CA"
                                 id="700726"/>
            <mif:header>
               <mif:renderingInformation schemaVersion="1" application="Visio to MIF transform"/>
               <mif:legalese copyrightOwner="Health Level Seven" copyrightYears="2010">
                  <mif:notation>All rights reserved.</mif:notation>
               </mif:legalese>
            </mif:header>
            <mif:graphicRepresentation presentation="HL7">
               <mif:graphElement name="Main">
                  <mif:position x="0.0" y="0.0"/>
                  <mif:size width="17.000" height="15.000"/>
               </mif:graphElement>
            </mif:graphicRepresentation>
            <mif:derivationSupplier staticModelDerivationId="1">
               <mif:targetStaticModel root="DEFN" artifact="RIM" version="0226"/>
            </mif:derivationSupplier>
            <mif:importedDatatypeModelPackage root="DEFN" artifact="DT" realm="CA" version="R02.04.xx"/>
            <mif:importedVocabularyModelPackage root="DEFN" artifact="VO" realm="CA" version="R02.04.xx"/>
            <mif:importedCommonModelElementPackage root="DEFN" artifact="CMET" realm="CA" version="R02.04.xx"/>
            <mif:ownedEntryPoint id="MFMI_MT700726CA"
                                 name="Registry Response Wrapper - Device Initiated With Role Payload"
                                 isAbstract="false">
               <mif:graphicRepresentation>
                  <mif:graphElement shapeId="Sheet.78" containerDiagramName="Main">
                     <mif:position x="4.584" y="0.533"/>
                     <mif:size width="4.336" height="0.453"/>
                     <mif:anchorage connectToShapeId="Sheet.78">
                        <mif:position x="6.750" y="0.986"/>
                        <mif:graphEdge>
                           <mif:anchor connectToShapeId="Sheet.168">
                              <mif:position x="6.753" y="2.511"/>
                           </mif:anchor>
                        </mif:graphEdge>
                     </mif:anchorage>
                  </mif:graphElement>
               </mif:graphicRepresentation>
               <mif:specializedClass>
                  <mif:reference name="ControlActEvent"/>
               </mif:specializedClass>
            </mif:ownedEntryPoint>
         </mif:serializedStaticModel>
      </xs:appinfo>
   </xs:annotation>
   <xs:include schemaLocation="../coreschemas/infrastructureRoot.xsd"/>
   <xs:include schemaLocation="COCT_MT090310CA.xsd"/>
   <xs:include schemaLocation="COCT_MT260022CA.xsd"/><!--<xs:complexType name="MFMI_MT700726CA.ControlActEvent">
      <xs:annotation>
         <xs:appinfo>
            <mif:class xmlns:mif="urn:hl7-org:v3/mif" name="ControlActEvent" isAbstract="false">
               <mif:businessName name="Trigger Event"/>
               <mif:derivationSupplier staticModelDerivationId="1" className="ControlAct"/>
               <mif:graphicRepresentation presentation="HL7">
                  <mif:graphElement shapeId="Sheet.168" containerDiagramName="Main" shapeTemplate="Act"
                                    isWidthAutoSize="true"
                                    isHeightAutoSize="false">
                     <mif:position x="4.919" y="2.511"/>
                     <mif:size width="3.669" height="7.903"/>
                  </mif:graphElement>
               </mif:graphicRepresentation>
               <mif:annotations>
                  <mif:definition>
                     <mif:text>
                        <mif:p>
                           <mif:p>Identifies the action that resulted in this message being sent.</mif:p>
                        </mif:p>
                     </mif:text>
                  </mif:definition>
                  <mif:usageNotes>
                     <mif:text>
                        <mif:p>
                           <mif:p>There may be constraints on the usage of the effectiveTime and reasonCode attributes in the definition of the interaction or the trigger events which are conveyed with this wrapper.</mif:p>
                        </mif:p>
                     </mif:text>
                  </mif:usageNotes>
                  <mif:rationale>
                     <mif:text>
                        <mif:p>
                           <mif:p>Key to understanding what action a message represents.</mif:p>
                        </mif:p>
                     </mif:text>
                  </mif:rationale>
               </mif:annotations>
            </mif:class>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <mif:attribute xmlns:mif="urn:hl7-org:v3/mif" name="id" sortKey="3" minimumMultiplicity="1"
                                 maximumMultiplicity="1"
                                 conformance="R"
                                 isMandatory="true"
                                 isStructural="false">
                     <mif:businessName name="B:Event Identifier"/>
                     <mif:annotations>
                        <mif:definition>
                           <mif:text>
                              <mif:p>
                                 <mif:p>A unique identifier for this particular event assigned by the system in which the event occurred.</mif:p>
                              </mif:p>
                           </mif:text>
                        </mif:definition>
                        <mif:usageNotes>
                           <mif:text>
                              <mif:p>
                                 <mif:p>Identifier needs to be persisted by receiving applications, except for queries (queries cannot be retracted or undone). The identifier must be unique and different from the event identifier that is present on the request - it must be generated by the responding application.</mif:p>
                              </mif:p>
                           </mif:text>
                        </mif:usageNotes>
                        <mif:rationale>
                           <mif:text>
                              <mif:p>
                                 <mif:p>Allows the event to be referenced (for undos) and also indicates whether multiple interactions were caused by the same triggering event. Also used for audit purposes.</mif:p>
                              </mif:p>
                           </mif:text>
                        </mif:rationale>
                     </mif:annotations>
                     <mif:derivationSupplier staticModelDerivationId="1" className="ControlAct" attributeName="id"/>
                     <mif:type name="II.BUS"/>
                  </mif:attribute>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="code" type="CV" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <mif:attribute xmlns:mif="urn:hl7-org:v3/mif" name="code" sortKey="4" minimumMultiplicity="1"
                                 maximumMultiplicity="1"
                                 conformance="R"
                                 isMandatory="true"
                                 isStructural="false">
                     <mif:businessName name="A:Event Type"/>
                     <mif:annotations>
                        <mif:definition>
                           <mif:text>
                              <mif:p>
                                 <mif:p>Identifies the trigger event that occurred.</mif:p>
                              </mif:p>
                           </mif:text>
                        </mif:definition>
                        <mif:rationale>
                           <mif:text>
                              <mif:p>
                                 <mif:p>This is mandatory because it is essential to understanding the meaning of the event.</mif:p>
                              </mif:p>
                           </mif:text>
                        </mif:rationale>
                     </mif:annotations>
                     <mif:derivationSupplier staticModelDerivationId="1" className="ControlAct" attributeName="code"/>
                     <mif:type name="CV"/>
                     <mif:supplierDomainSpecification codingStrength="CNE" domainName="HL7TriggerEventCode"/>
                  </mif:attribute>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="statusCode" type="CS" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <mif:attribute xmlns:mif="urn:hl7-org:v3/mif" name="statusCode" sortKey="5"
                                 minimumMultiplicity="1"
                                 maximumMultiplicity="1"
                                 conformance="R"
                                 isMandatory="true"
                                 fixedValue="completed"
                                 isStructural="false">
                     <mif:annotations>
                        <mif:definition>
                           <mif:text>
                              <mif:p>
                                 <mif:p>Describes the status of the control act, which is always complete (it happened).</mif:p>
                              </mif:p>
                           </mif:text>
                        </mif:definition>
                        <mif:rationale>
                           <mif:text>
                              <mif:p>
                                 <mif:p>Required for completeness of specification.</mif:p>
                              </mif:p>
                           </mif:text>
                        </mif:rationale>
                     </mif:annotations>
                     <mif:derivationSupplier staticModelDerivationId="1" className="ControlAct" attributeName="statusCode"/>
                     <mif:type name="CS"/>
                     <mif:supplierDomainSpecification codingStrength="CNE" codeSystemName="ActStatus" mnemonic="completed"/>
                  </mif:attribute>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <mif:attribute xmlns:mif="urn:hl7-org:v3/mif" name="effectiveTime" sortKey="6"
                                 minimumMultiplicity="0"
                                 maximumMultiplicity="1"
                                 conformance="R"
                                 isMandatory="false"
                                 isStructural="false">
                     <mif:businessName name="C:Event Effective Period"/>
                     <mif:annotations>
                        <mif:definition>
                           <mif:text>
                              <mif:p>
                                 <mif:p>Indicates the time the event (e.g. query, change, activation) should begin and occasionally when it should end.</mif:p>
                              </mif:p>
                           </mif:text>
                        </mif:definition>
                        <mif:rationale>
                           <mif:text>
                              <mif:p>
                                 <mif:p>The time an event becomes effective may differ from the time the event is recorded (i.e. it may be in the future or the past). For events such as 'suspend', an intended end date may also be indicated.</mif:p>
                              </mif:p>
                           </mif:text>
                        </mif:rationale>
                     </mif:annotations>
                     <mif:derivationSupplier staticModelDerivationId="1" className="ControlAct"
                                             attributeName="effectiveTime"/>
                     <mif:type name="IVL">
                        <mif:supplierBindingArgumentDatatype name="TS.FULLDATEWITHTIME"/>
                     </mif:type>
                  </mif:attribute>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="reasonCode" type="CV" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <mif:attribute xmlns:mif="urn:hl7-org:v3/mif" name="reasonCode" sortKey="7"
                                 minimumMultiplicity="0"
                                 maximumMultiplicity="1"
                                 conformance="R"
                                 isMandatory="false"
                                 isStructural="false">
                     <mif:businessName name="E:Event Reason"/>
                     <mif:annotations>
                        <mif:definition>
                           <mif:text>
                              <mif:p>
                                 <mif:p>Identifies why this specific message interaction (e.g. query, activation request, modification request) occurred.</mif:p>
                              </mif:p>
                           </mif:text>
                        </mif:definition>
                        <mif:usageNotes>
                           <mif:text>
                              <mif:p>
                                 <mif:p>The domain associated with this attribute will vary for each interaction and will be noted as part of the interaction description.</mif:p>
                              </mif:p>
                           </mif:text>
                        </mif:usageNotes>
                        <mif:rationale>
                           <mif:text>
                              <mif:p>
                                 <mif:p>Allows identifying a reason for a specific action, such as 'reason for hold' or 'reason for accessing information'.</mif:p>
                              </mif:p>
                           </mif:text>
                        </mif:rationale>
                     </mif:annotations>
                     <mif:derivationSupplier staticModelDerivationId="1" className="ControlAct" attributeName="reasonCode"/>
                     <mif:type name="CV"/>
                     <mif:supplierDomainSpecification codingStrength="CWE" domainName="ControlActReason"/>
                  </mif:attribute>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="languageCode" type="CE" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <mif:attribute xmlns:mif="urn:hl7-org:v3/mif" name="languageCode" sortKey="8"
                                 minimumMultiplicity="0"
                                 maximumMultiplicity="1"
                                 conformance="R"
                                 isMandatory="false"
                                 isStructural="false">
                     <mif:businessName name="Message Language"/>
                     <mif:derivationSupplier staticModelDerivationId="1" className="ControlAct" attributeName="languageCode"/>
                     <mif:type name="CE"/>
                     <mif:supplierDomainSpecification codingStrength="CNE" domainName="HumanLanguage"/>
                  </mif:attribute>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="subject" type="MFMI_MT700726CA.Subject2" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <mif:targetConnection xmlns:mif="urn:hl7-org:v3/mif" name="subject" minimumMultiplicity="1"
                                        maximumMultiplicity="1"
                                        conformance="R"
                                        isMandatory="true"
                                        sortKey="BDB_______">
                     <mif:derivationSupplier staticModelDerivationId="1" className="Act"
                                             associationEndName="outboundRelationship"/>
                     <mif:participantClass>
                        <mif:reference name="Subject2"/>
                     </mif:participantClass>
                  </mif:targetConnection>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="subjectOf" type="MFMI_MT700726CA.Subject" nillable="true" minOccurs="0"
                     maxOccurs="50">
            <xs:annotation>
               <xs:appinfo>
                  <mif:targetConnection xmlns:mif="urn:hl7-org:v3/mif" name="subjectOf" minimumMultiplicity="0"
                                        maximumMultiplicity="50"
                                        conformance="R"
                                        isMandatory="false"
                                        sortKey="CDB_______">
                     <mif:derivationSupplier staticModelDerivationId="1" className="Act"
                                             associationEndName="inboundRelationship"/>
                     <mif:participantClass>
                        <mif:reference name="Subject"/>
                     </mif:participantClass>
                  </mif:targetConnection>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="ActClass" use="optional" fixed="CACT"/>
      <xs:attribute name="moodCode" type="ActMood" use="optional" fixed="EVN"/>
   </xs:complexType>--><xs:complexType name="MFMI_MT700726CA.Custodian">
      <xs:annotation>
         <xs:appinfo>
            <mif:class xmlns:mif="urn:hl7-org:v3/mif" name="Custodian" isAbstract="false">
               <mif:businessName name="*a: stored in"/>
               <mif:derivationSupplier staticModelDerivationId="1" className="Participation"/>
               <mif:graphicRepresentation presentation="HL7">
                  <mif:graphElement shapeId="Sheet.379" containerDiagramName="Main" shapeTemplate="Participation"
                                    textWrappingWidth="66.0"
                                    nodeOrientation="Left">
                     <mif:position x="2.587" y="11.757"/>
                     <mif:size width="2.443" height="0.436"/>
                  </mif:graphElement>
               </mif:graphicRepresentation>
               <mif:annotations>
                  <mif:definition>
                     <mif:text>
                        <mif:p>
                           <mif:p>This indicates the EHR repository the record is stored in.</mif:p>
                        </mif:p>
                     </mif:text>
                  </mif:definition>
                  <mif:rationale>
                     <mif:text>
                        <mif:p>
                           <mif:p>Different repositories may have different access rules governing access to data. Knowing the custodian of the data also helps to provide context. As a result, this association is mandatory.</mif:p>
                        </mif:p>
                     </mif:text>
                  </mif:rationale>
               </mif:annotations>
            </mif:class>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="assignedDevice" type="COCT_MT090310CA.AssignedDevice" minOccurs="1"
                     maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <mif:targetConnection xmlns:mif="urn:hl7-org:v3/mif" name="assignedDevice" minimumMultiplicity="1"
                                        maximumMultiplicity="1"
                                        conformance="R"
                                        isMandatory="true"
                                        sortKey="BZ">
                     <mif:derivationSupplier staticModelDerivationId="1" className="Participation" associationEndName="role"/>
                     <mif:participantClass>
                        <mif:reference name="R_AssignedDeviceRepository"/>
                     </mif:participantClass>
                  </mif:targetConnection>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ParticipationType" use="optional" fixed="CST"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" fixed="AP"/>
   </xs:complexType>
   <xs:complexType name="MFMI_MT700726CA.PriorRegisteredRole">
      <xs:annotation>
         <xs:appinfo>
            <mif:class xmlns:mif="urn:hl7-org:v3/mif" name="PriorRegisteredRole" isAbstract="false">
               <mif:businessName name="Prior Registration Role Ids"/>
               <mif:derivationSupplier staticModelDerivationId="1" className="Role"/>
               <mif:graphicRepresentation presentation="HL7">
                  <mif:graphElement shapeId="Sheet.230" containerDiagramName="Main" shapeTemplate="Role"
                                    isWidthAutoSize="true"
                                    isHeightAutoSize="true">
                     <mif:position x="11.375" y="12.943"/>
                     <mif:size width="2.232" height="0.514"/>
                  </mif:graphElement>
               </mif:graphicRepresentation>
               <mif:annotations>
                  <mif:definition>
                     <mif:text>
                        <mif:p>
                           <mif:p>Identifies "duplicate" records of the registered item that have been superseded by this record.</mif:p>
                        </mif:p>
                     </mif:text>
                  </mif:definition>
                  <mif:rationale>
                     <mif:text>
                        <mif:p>
                           <mif:p>Provides support for merges.</mif:p>
                        </mif:p>
                     </mif:text>
                  </mif:rationale>
               </mif:annotations>
            </mif:class>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <mif:attribute xmlns:mif="urn:hl7-org:v3/mif" name="id" sortKey="2" minimumMultiplicity="1"
                                 maximumMultiplicity="1"
                                 conformance="R"
                                 isMandatory="true"
                                 isStructural="false">
                     <mif:businessName name="Prior Registered Role Ids"/>
                     <mif:annotations>
                        <mif:definition>
                           <mif:text>
                              <mif:p>
                                 <mif:p>Identifies "duplicate" records of the registered item that have been superseded by this record.</mif:p>
                              </mif:p>
                           </mif:text>
                        </mif:definition>
                        <mif:rationale>
                           <mif:text>
                              <mif:p>
                                 <mif:p>Provides support for merges.</mif:p>
                              </mif:p>
                           </mif:text>
                        </mif:rationale>
                     </mif:annotations>
                     <mif:derivationSupplier staticModelDerivationId="1" className="Role" attributeName="id"/>
                     <mif:type name="II.BUS"/>
                  </mif:attribute>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="RoleClass" use="optional" fixed="ROL"/>
   </xs:complexType>
   <xs:complexType name="MFMI_MT700726CA.PriorRegistration">
      <xs:annotation>
         <xs:appinfo>
            <mif:class xmlns:mif="urn:hl7-org:v3/mif" name="PriorRegistration" isAbstract="false">
               <mif:businessName name="Prior Registration Event"/>
               <mif:derivationSupplier staticModelDerivationId="1" className="Act"/>
               <mif:graphicRepresentation presentation="HL7">
                  <mif:graphElement shapeId="Sheet.182" containerDiagramName="Main" shapeTemplate="Act"
                                    isWidthAutoSize="false"
                                    isHeightAutoSize="true">
                     <mif:position x="11.187" y="11.550"/>
                     <mif:size width="2.520" height="0.750"/>
                  </mif:graphElement>
               </mif:graphicRepresentation>
               <mif:annotations>
                  <mif:definition>
                     <mif:text>
                        <mif:p>
                           <mif:p>This class describes the registration of a client, provider, location, etc. in the past.</mif:p>
                        </mif:p>
                     </mif:text>
                  </mif:definition>
                  <mif:rationale>
                     <mif:text>
                        <mif:p>
                           <mif:p>Used to associate (replace) a current registration with a regsitration already received (supports merges).</mif:p>
                        </mif:p>
                     </mif:text>
                  </mif:rationale>
               </mif:annotations>
            </mif:class>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="statusCode" type="CS" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <mif:attribute xmlns:mif="urn:hl7-org:v3/mif" name="statusCode" sortKey="3"
                                 minimumMultiplicity="1"
                                 maximumMultiplicity="1"
                                 conformance="R"
                                 isMandatory="true"
                                 fixedValue="obsolete"
                                 isStructural="false">
                     <mif:derivationSupplier staticModelDerivationId="1" className="Act" attributeName="statusCode"/>
                     <mif:type name="CS"/>
                     <mif:supplierDomainSpecification codingStrength="CNE" codeSystemName="ActStatus" mnemonic="obsolete"/>
                  </mif:attribute>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="subject" type="MFMI_MT700726CA.Subject5" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <mif:targetConnection xmlns:mif="urn:hl7-org:v3/mif" name="subject" minimumMultiplicity="1"
                                        maximumMultiplicity="1"
                                        conformance="R"
                                        isMandatory="true"
                                        sortKey="AAA_______">
                     <mif:derivationSupplier staticModelDerivationId="1" className="Act" associationEndName="participation"/>
                     <mif:participantClass>
                        <mif:reference name="Subject5"/>
                     </mif:participantClass>
                  </mif:targetConnection>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="ActClass" use="optional" fixed="REG"/>
      <xs:attribute name="moodCode" type="ActMood" use="optional" fixed="EVN"/>
   </xs:complexType><!--<xs:complexType name="MFMI_MT700726CA.RegistrationEvent">
      <xs:annotation>
         <xs:appinfo>
            <mif:class xmlns:mif="urn:hl7-org:v3/mif" name="RegistrationEvent" isAbstract="false">
               <mif:businessName name="Registration Event"/>
               <mif:derivationSupplier staticModelDerivationId="1" className="Act"/>
               <mif:graphicRepresentation presentation="HL7">
                  <mif:graphElement shapeId="Sheet.172" containerDiagramName="Main" shapeTemplate="Act"
                                    isWidthAutoSize="false"
                                    isHeightAutoSize="true">
                     <mif:position x="5.030" y="11.575"/>
                     <mif:size width="3.478" height="0.750"/>
                  </mif:graphElement>
               </mif:graphicRepresentation>
               <mif:annotations>
                  <mif:definition>
                     <mif:text>
                        <mif:p>
                           <mif:p>This class contains information relevant to the registration of the payload item(s) into the Master File or Registry. This message is a response to a request to register (therefore, the mood is an event).</mif:p>
                        </mif:p>
                     </mif:text>
                  </mif:definition>
                  <mif:rationale>
                     <mif:text>
                        <mif:p>
                           <mif:p>The RegistrationProcess act is the focal act of the message and therefore is mandatory</mif:p>
                        </mif:p>
                     </mif:text>
                  </mif:rationale>
               </mif:annotations>
            </mif:class>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="statusCode" type="CS" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <mif:attribute xmlns:mif="urn:hl7-org:v3/mif" name="statusCode" sortKey="3"
                                 minimumMultiplicity="1"
                                 maximumMultiplicity="1"
                                 conformance="R"
                                 isMandatory="true"
                                 fixedValue="active"
                                 isStructural="false">
                     <mif:derivationSupplier staticModelDerivationId="1" className="Act" attributeName="statusCode"/>
                     <mif:type name="CS"/>
                     <mif:supplierDomainSpecification codingStrength="CNE" codeSystemName="ActStatus" mnemonic="active"/>
                  </mif:attribute>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="subject" type="MFMI_MT700726CA.Subject4" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <mif:targetConnection xmlns:mif="urn:hl7-org:v3/mif" name="subject" minimumMultiplicity="1"
                                        maximumMultiplicity="1"
                                        conformance="R"
                                        isMandatory="true"
                                        sortKey="AAA_______">
                     <mif:derivationSupplier staticModelDerivationId="1" className="Act" associationEndName="participation"/>
                     <mif:participantClass>
                        <mif:reference name="Subject4"/>
                     </mif:participantClass>
                  </mif:targetConnection>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="custodian" type="MFMI_MT700726CA.Custodian" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <mif:targetConnection xmlns:mif="urn:hl7-org:v3/mif" name="custodian" minimumMultiplicity="1"
                                        maximumMultiplicity="1"
                                        conformance="R"
                                        isMandatory="true"
                                        sortKey="AG________">
                     <mif:derivationSupplier staticModelDerivationId="1" className="Act" associationEndName="participation"/>
                     <mif:participantClass>
                        <mif:reference name="Custodian"/>
                     </mif:participantClass>
                  </mif:targetConnection>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="replacementOf" type="MFMI_MT700726CA.ReplacementOf" nillable="true"
                     minOccurs="0"
                     maxOccurs="10">
            <xs:annotation>
               <xs:appinfo>
                  <mif:targetConnection xmlns:mif="urn:hl7-org:v3/mif" name="replacementOf" minimumMultiplicity="0"
                                        maximumMultiplicity="10"
                                        isMandatory="false"
                                        sortKey="BBI_______">
                     <mif:derivationSupplier staticModelDerivationId="1" className="Act"
                                             associationEndName="outboundRelationship"/>
                     <mif:participantClass>
                        <mif:reference name="ReplacementOf"/>
                     </mif:participantClass>
                  </mif:targetConnection>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="ActClass" use="optional" fixed="REG"/>
      <xs:attribute name="moodCode" type="ActMood" use="optional" fixed="EVN"/>
   </xs:complexType>--><xs:complexType name="MFMI_MT700726CA.ReplacementOf">
      <xs:annotation>
         <xs:appinfo>
            <mif:class xmlns:mif="urn:hl7-org:v3/mif" name="ReplacementOf" isAbstract="false">
               <mif:businessName name="replaces"/>
               <mif:derivationSupplier staticModelDerivationId="1" className="ActRelationship"/>
               <mif:graphicRepresentation presentation="HL7">
                  <mif:graphElement shapeId="Sheet.176" containerDiagramName="Main" shapeTemplate="ActRelationship"
                                    textWrappingWidth="66.0"
                                    nodeOrientation="Right">
                     <mif:position x="8.508" y="11.653"/>
                     <mif:size width="2.680" height="0.569"/>
                  </mif:graphElement>
               </mif:graphicRepresentation>
               <mif:annotations>
                  <mif:definition>
                     <mif:text>
                        <mif:p>
                           <mif:p>Associates a new registration which is intended to replace a registration received prior to this message.</mif:p>
                        </mif:p>
                     </mif:text>
                  </mif:definition>
                  <mif:rationale>
                     <mif:text>
                        <mif:p>
                           <mif:p>Supports this message "replacing" a prior registration with a current regsitration (merges).</mif:p>
                        </mif:p>
                     </mif:text>
                  </mif:rationale>
               </mif:annotations>
            </mif:class>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="priorRegistration" type="MFMI_MT700726CA.PriorRegistration"
                     nillable="true"
                     minOccurs="1"
                     maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <mif:targetConnection xmlns:mif="urn:hl7-org:v3/mif" name="priorRegistration" minimumMultiplicity="1"
                                        maximumMultiplicity="1"
                                        isMandatory="false"
                                        sortKey="BZ">
                     <mif:derivationSupplier staticModelDerivationId="1" className="ActRelationship"
                                             associationEndName="target"/>
                     <mif:participantClass>
                        <mif:reference name="PriorRegistration"/>
                     </mif:participantClass>
                  </mif:targetConnection>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ActRelationshipType" use="optional" fixed="RPLC"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" fixed="AN"/>
      <xs:attribute name="contextConductionInd" type="bl" use="optional" fixed="false"/>
   </xs:complexType>
   <xs:complexType name="MFMI_MT700726CA.Subject">
      <xs:annotation>
         <xs:appinfo>
            <mif:class xmlns:mif="urn:hl7-org:v3/mif" name="Subject" isAbstract="false">
               <mif:businessName name="d:caused"/>
               <mif:derivationSupplier staticModelDerivationId="1" className="ActRelationship"/>
               <mif:graphicRepresentation presentation="HL7">
                  <mif:graphElement shapeId="Sheet.24" containerDiagramName="Main" shapeTemplate="ActRelationship"
                                    textWrappingWidth="66.0"
                                    nodeOrientation="Left">
                     <mif:position x="8.588" y="6.790"/>
                     <mif:size width="4.561" height="0.569"/>
                  </mif:graphElement>
               </mif:graphicRepresentation>
               <mif:annotations>
                  <mif:definition>
                     <mif:text>
                        <mif:p>
                           <mif:p>This is the list of clinical and business issues that have been detected and/or managed involving the current action.</mif:p>
                        </mif:p>
                     </mif:text>
                  </mif:definition>
                  <mif:rationale>
                     <mif:text>
                        <mif:p>
                           <mif:p>Any trigger event can result in errors or may allow for errors to be overridden or managed.</mif:p>
                        </mif:p>
                     </mif:text>
                  </mif:rationale>
               </mif:annotations>
            </mif:class>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="detectedIssueEvent" type="COCT_MT260022CA.DetectedIssueEvent"
                     nillable="true"
                     minOccurs="1"
                     maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <mif:targetConnection xmlns:mif="urn:hl7-org:v3/mif" name="detectedIssueEvent" minimumMultiplicity="1"
                                        maximumMultiplicity="1"
                                        conformance="R"
                                        isMandatory="false"
                                        sortKey="AZ">
                     <mif:derivationSupplier staticModelDerivationId="1" className="ActRelationship"
                                             associationEndName="source"/>
                     <mif:participantClass>
                        <mif:reference name="A_IssueEventDetected-basic"/>
                     </mif:participantClass>
                  </mif:targetConnection>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ActRelationshipType" use="optional" fixed="SUBJ"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" fixed="AP"/>
      <xs:attribute name="contextConductionInd" type="bl" use="optional" fixed="false"/>
   </xs:complexType><!--<xs:complexType name="MFMI_MT700726CA.Subject2">
      <xs:annotation>
         <xs:appinfo>
            <mif:class xmlns:mif="urn:hl7-org:v3/mif" name="Subject2" isAbstract="false">
               <mif:businessName name="f:refers to"/>
               <mif:derivationSupplier staticModelDerivationId="1" className="ActRelationship"/>
               <mif:graphicRepresentation presentation="HL7">
                  <mif:graphElement shapeId="Sheet.126" containerDiagramName="Main" shapeTemplate="ActRelationship"
                                    textWrappingWidth="66.0"
                                    nodeOrientation="Down">
                     <mif:position x="5.598" y="10.414"/>
                     <mif:size width="2.326" height="1.161"/>
                  </mif:graphElement>
               </mif:graphicRepresentation>
               <mif:annotations>
                  <mif:definition>
                     <mif:text>
                        <mif:p>
                           <mif:p>Indicates the item(s) being acted upon by this trigger event.</mif:p>
                        </mif:p>
                        <mif:p>
                           <mif:p>Will be mandatory in wrappers with payload messages, otherwise not present.</mif:p>
                        </mif:p>
                     </mif:text>
                  </mif:definition>
                  <mif:usageNotes>
                     <mif:text>
                        <mif:p>
                           <mif:p>If there are multiple subject items, the changes to all of them must be either accepted or rejected as a single action. I.e. One trigger event = 1 unit of work.</mif:p>
                        </mif:p>
                     </mif:text>
                  </mif:usageNotes>
                  <mif:rationale>
                     <mif:text>
                        <mif:p>
                           <mif:p>Provides information about the thing being created, modified or removed.</mif:p>
                        </mif:p>
                     </mif:text>
                  </mif:rationale>
                  <mif:constraint>
                     <mif:text>
                        <mif:p>
                           <mif:p>On ‘creation’ interactions (where the state transition is null-&gt;active), this must be true otherwise it must be false.</mif:p>
                        </mif:p>
                     </mif:text>
                     <mif:graphicRepresentation>
                        <mif:graphElement shapeId="Sheet.221" containerDiagramName="Main" isWidthAutoSize="true"
                                          isHeightAutoSize="true">
                           <mif:position x="8.189" y="10.575"/>
                           <mif:size width="1.923" height="0.678"/>
                           <mif:anchorage connectToShapeId="Sheet.221">
                              <mif:position x="9.150" y="10.914"/>
                              <mif:graphEdge>
                                 <mif:anchor connectToShapeId="Sheet.126">
                                    <mif:position x="7.924" y="10.932"/>
                                 </mif:anchor>
                              </mif:graphEdge>
                           </mif:anchorage>
                        </mif:graphElement>
                     </mif:graphicRepresentation>
                  </mif:constraint>
               </mif:annotations>
            </mif:class>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="registrationEvent" type="MFMI_MT700726CA.RegistrationEvent" minOccurs="1"
                     maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <mif:targetConnection xmlns:mif="urn:hl7-org:v3/mif" name="registrationEvent" minimumMultiplicity="1"
                                        maximumMultiplicity="1"
                                        conformance="R"
                                        isMandatory="true"
                                        sortKey="BZ">
                     <mif:derivationSupplier staticModelDerivationId="1" className="ActRelationship"
                                             associationEndName="target"/>
                     <mif:participantClass>
                        <mif:reference name="RegistrationEvent"/>
                     </mif:participantClass>
                  </mif:targetConnection>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ActRelationshipType" use="optional" fixed="SUBJ"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" fixed="ON"/>
      <xs:attribute name="contextConductionInd" type="bl" use="required"/>
   </xs:complexType>--><!--<xs:complexType name="MFMI_MT700726CA.Subject4">
      <xs:annotation>
         <xs:appinfo>
            <mif:class xmlns:mif="urn:hl7-org:v3/mif" name="Subject4" isAbstract="false">
               <mif:businessName name="Registered Item"/>
               <mif:derivationSupplier staticModelDerivationId="1" className="Participation"/>
               <mif:graphicRepresentation presentation="HL7">
                  <mif:graphElement shapeId="Sheet.186" containerDiagramName="Main" shapeTemplate="Participation"
                                    textWrappingWidth="66.0"
                                    nodeOrientation="Down">
                     <mif:position x="5.619" y="12.325"/>
                     <mif:size width="2.314" height="0.675"/>
                  </mif:graphElement>
               </mif:graphicRepresentation>
               <mif:annotations>
                  <mif:definition>
                     <mif:text>
                        <mif:p>
                           <mif:p>Commonly called the Payload stub. Any interaction that uses this ControlAct Wrapper will replace this class with a Role-based domain Message Type</mif:p>
                        </mif:p>
                     </mif:text>
                  </mif:definition>
                  <mif:rationale>
                     <mif:text>
                        <mif:p>
                           <mif:p>Defines the content of the registration and is therefore mandatory.</mif:p>
                        </mif:p>
                     </mif:text>
                  </mif:rationale>
               </mif:annotations>
            </mif:class>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
Placeholder for element referencing stub: RegisteredRole
<xs:element name="REPLACE_ME" type="xs:anyType" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <mif:targetConnection xmlns:mif="urn:hl7-org:v3/mif" name="registeredRole" minimumMultiplicity="1"
                                        maximumMultiplicity="1"
                                        conformance="R"
                                        isMandatory="true"
                                        sortKey="BZ">
                     <mif:derivationSupplier staticModelDerivationId="1" className="Participation" associationEndName="role"/>
                     <mif:participantClass>
                        <mif:reference name="RegisteredRole"/>
                     </mif:participantClass>
                  </mif:targetConnection>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ParticipationType" use="optional" fixed="SBJ"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" fixed="AN"/>
   </xs:complexType>--><xs:complexType name="MFMI_MT700726CA.Subject5">
      <xs:annotation>
         <xs:appinfo>
            <mif:class xmlns:mif="urn:hl7-org:v3/mif" name="Subject5" isAbstract="false">
               <mif:derivationSupplier staticModelDerivationId="1" className="Participation"/>
               <mif:graphicRepresentation presentation="HL7">
                  <mif:graphElement shapeId="Sheet.240" containerDiagramName="Main" shapeTemplate="Participation"
                                    textWrappingWidth="66.0"
                                    nodeOrientation="Down">
                     <mif:position x="11.312" y="12.300"/>
                     <mif:size width="2.314" height="0.643"/>
                  </mif:graphElement>
               </mif:graphicRepresentation>
            </mif:class>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="priorRegisteredRole" type="MFMI_MT700726CA.PriorRegisteredRole"
                     minOccurs="1"
                     maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <mif:targetConnection xmlns:mif="urn:hl7-org:v3/mif" name="priorRegisteredRole" minimumMultiplicity="1"
                                        maximumMultiplicity="1"
                                        conformance="R"
                                        isMandatory="true"
                                        sortKey="BZ">
                     <mif:derivationSupplier staticModelDerivationId="1" className="Participation" associationEndName="role"/>
                     <mif:participantClass>
                        <mif:reference name="PriorRegisteredRole"/>
                     </mif:participantClass>
                  </mif:targetConnection>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ParticipationType" use="optional" fixed="SBJ"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" fixed="AN"/>
   </xs:complexType>
</xs:schema>