Solution Items/WSDL/CA/Schemas/PRPA_IN101205CA.xsd

<?xml version="1.0" encoding="utf-8" standalone="no"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:hl7-org:v3"
           xmlns:mif="urn:hl7-org:v3/mif"
           targetNamespace="urn:hl7-org:v3"
           elementFormDefault="qualified">
   <xs:annotation>
      <xs:documentation>Source Information
     Rendered by: RoseTree 4.2.20
     Rendered on: 
This document was rendered into XML using software provided to HL7 by Beeler Consulting LLC.
 PubDB to MIF Transform: $RCSfile: PubDbXmlToMIF.xsl,v $ $Revision: 1.11 $ $Date: 2007/10/19 05:55:13 $
  Fix names transform: $Id: FixMifNames.xsl 7634 2009-03-23 00:42:50Z wbeeler $
  HTML to MIF Markup transform: $Id: HtmlToMIFMarkup.xsl 7375 2009-01-26 19:26:53Z wbeeler $
  Base transform: $Id: ConvertBase.xsl 7375 2009-01-26 19:26:53Z wbeeler $
  Package Id Conversion: $Id: TransformPackageIds.xsl 7375 2009-01-26 19:26:53Z wbeeler $
 Generated using schema builder version: 3.2.2 and DynamicMifToXSD.xsl version: 1.4
 Dynamic MIF to Schema Transform: $Id: DynamicMifToXsd.xsl 7375 2009-01-26 19:26:53Z wbeeler $
  Static MIF to Schema Transform: $Id: StaticMifToXsd.xsl 7598 2009-03-16 19:52:42Z wbeeler $
  Package Id Conversion: $Id: TransformPackageIds.xsl 7375 2009-01-26 19:26:53Z wbeeler $</xs:documentation>
      <xs:appinfo>
         <mif:hl7Interaction name="101205" title="Identifiedperson Event Revise Confirmation">
            <mif:businessName name="Person Revise Event Accept"/>
            <mif:packageLocation root="DEFN" section="AM" subSection="PR" domain="PA" artifact="IN" realm="CA"
                                 id="101205"/>
            <mif:annotations>
               <mif:description>
                  <mif:text>A person registry accepts a request to revise an existing record and responds back to the requesting application. The revised person record is sent in the payload.</mif:text>
               </mif:description>
            </mif:annotations>
            <mif:callAction root="DEFN" section="AM" subSection="PR" domain="PA" artifact="TE" realm="CA"
                            id="101205"/>
            <mif:parameterTypeModel root="DEFN" section="IM" subSection="MC" domain="CI" artifact="MT-deprecated"
                                    realm="CA"
                                    id="002300">
               <mif:supplierBindingArgument templateParameterName="ControlActEvent" root="DEFN" section="IM"
                                            subSection="MF"
                                            domain="MI"
                                            artifact="MT-deprecated"
                                            realm="CA"
                                            id="700726"
                                            traversalName="controlActEvent">
                  <mif:supplierBindingArgument templateParameterName="RegisteredRole" root="DEFN" section="AM" subSection="PR"
                                               domain="PA"
                                               artifact="MT-deprecated"
                                               realm="CA"
                                               id="101102"
                                               traversalName="identifiedEntity"/>
               </mif:supplierBindingArgument>
            </mif:parameterTypeModel>
         </mif:hl7Interaction>
      </xs:appinfo>
   </xs:annotation>
   <xs:include schemaLocation="../coreschemas/infrastructureRoot.xsd"/>
   <xs:include schemaLocation="MCCI_MT002300CA.xsd"/>
   <xs:include schemaLocation="MFMI_MT700726CA.xsd"/>
   <xs:include schemaLocation="PRPA_MT101102CA.xsd"/>
   <xs:element name="PRPA_IN101205CA">
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="PRPA_IN101205CA.MCCI_MT002300CA.Message">
               <xs:attribute name="ITSVersion" type="xs:string" use="required" fixed="XML_1.0"/>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
   <xs:complexType name="PRPA_IN101205CA.MCCI_MT002300CA.Message">
      <xs:annotation>
         <xs:appinfo>
            <mif:class name="Message" isAbstract="false">
               <mif:businessName name="HL7 Message"/>
               <mif:derivationSupplier staticModelDerivationId="1" className="Message"/>
               <mif:graphicRepresentation presentation="HL7">
                  <mif:graphElement shapeId="Sheet.23" containerDiagramName="Main" shapeTemplate="OtherClass"
                                    isWidthAutoSize="true"
                                    isHeightAutoSize="true">
                     <mif:position x="0.183" y="1.147"/>
                     <mif:size width="3.417" height="2.389"/>
                  </mif:graphElement>
               </mif:graphicRepresentation>
               <mif:annotations>
                  <mif:definition>
                     <mif:text>
                        <mif:p>
                           <mif:p>The root class of all messages.</mif:p>
                        </mif:p>
                     </mif:text>
                  </mif:definition>
                  <mif:rationale>
                     <mif:text>
                        <mif:p>
                           <mif:p>Conveys information about the interaction and how it is to be processed</mif:p>
                        </mif:p>
                     </mif:text>
                  </mif:rationale>
               </mif:annotations>
            </mif:class>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <mif:attribute name="id" sortKey="1" minimumMultiplicity="1" maximumMultiplicity="1"
                                 conformance="R"
                                 isMandatory="true"
                                 isStructural="false">
                     <mif:businessName name="A:Message Identifier"/>
                     <mif:annotations>
                        <mif:definition>
                           <mif:text>
                              <mif:p>
                                 <mif:p>A unique identifier for the message.</mif:p>
                              </mif:p>
                           </mif:text>
                        </mif:definition>
                        <mif:rationale>
                           <mif:text>
                              <mif:p>
                                 <mif:p>Allows detection of duplicate messages, and allows tying acknowledgments to the message they are acknowledging. The attribute is therefore mandatory.</mif:p>
                              </mif:p>
                           </mif:text>
                        </mif:rationale>
                        <mif:mapping sourceName="SOAP">
                           <mif:text>
                              <mif:p>
                                 <mif:p>soap:Header\wsa:MessageID</mif:p>
                              </mif:p>
                           </mif:text>
                        </mif:mapping>
                     </mif:annotations>
                     <mif:derivationSupplier staticModelDerivationId="1" className="Message" attributeName="id"/>
                     <mif:type name="II.TOKEN"/>
                  </mif:attribute>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="creationTime" type="TS" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <mif:attribute name="creationTime" sortKey="2" minimumMultiplicity="1" maximumMultiplicity="1"
                                 conformance="R"
                                 isMandatory="true"
                                 isStructural="false">
                     <mif:businessName name="G:Message Timestamp"/>
                     <mif:annotations>
                        <mif:definition>
                           <mif:text>
                              <mif:p>
                                 <mif:p>Indicates the time this particular message instance was constructed.</mif:p>
                              </mif:p>
                           </mif:text>
                        </mif:definition>
                        <mif:rationale>
                           <mif:text>
                              <mif:p>
                                 <mif:p>Allows identification of how current the information in a message is. Also provides a baseline for identifying the time-zone of other times within the message. As a result, the attribute is mandatory.</mif:p>
                              </mif:p>
                           </mif:text>
                        </mif:rationale>
                     </mif:annotations>
                     <mif:derivationSupplier staticModelDerivationId="1" className="Message" attributeName="creationTime"/>
                     <mif:type name="TS.FULLDATETIME"/>
                  </mif:attribute>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="securityText" type="ST" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <mif:attribute name="securityText" sortKey="3" minimumMultiplicity="0" maximumMultiplicity="1"
                                 isMandatory="false"
                                 maximumLength="2000"
                                 isStructural="false">
                     <mif:businessName name="H:Security Token"/>
                     <mif:annotations>
                        <mif:definition>
                           <mif:text>
                              <mif:p>
                                 <mif:p>A locally-defined field used to maintain a session, identify a user, and/or perform some other function related to authenticating the message source.</mif:p>
                              </mif:p>
                           </mif:text>
                        </mif:definition>
                        <mif:rationale>
                           <mif:text>
                              <mif:p>
                                 <mif:p>Allows jurisdictions and applications to communicate authentication and session information. The attribute is optional because not all jurisdictions will require this capability.</mif:p>
                              </mif:p>
                           </mif:text>
                        </mif:rationale>
                     </mif:annotations>
                     <mif:derivationSupplier staticModelDerivationId="1" className="Message" attributeName="securityText"/>
                     <mif:type name="ST"/>
                  </mif:attribute>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="responseModeCode" type="CS" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <mif:attribute name="responseModeCode" sortKey="4" minimumMultiplicity="1"
                                 maximumMultiplicity="1"
                                 conformance="R"
                                 isMandatory="true"
                                 isStructural="false">
                     <mif:businessName name="DA: Response Type"/>
                     <mif:annotations>
                        <mif:definition>
                           <mif:text>
                              <mif:p>
                                 <mif:p>Identifies whether the response is desired immediately (as a direct acknowledgement), on a deferred basis (as a subsequent independent interaction) or via queue using polling.</mif:p>
                              </mif:p>
                           </mif:text>
                        </mif:definition>
                        <mif:rationale>
                           <mif:text>
                              <mif:p>
                                 <mif:p>Essential to determining receiver behavior and therefore mandatory.</mif:p>
                              </mif:p>
                           </mif:text>
                        </mif:rationale>
                        <mif:mapping sourceName="SOAP">
                           <mif:text>
                              <mif:p>
                                 <mif:p>soap:Header\wsa:Action (after the second underscore, if any, “D” otherwise)</mif:p>
                              </mif:p>
                           </mif:text>
                        </mif:mapping>
                     </mif:annotations>
                     <mif:derivationSupplier staticModelDerivationId="1" className="Message"
                                             attributeName="responseModeCode"/>
                     <mif:type name="CS"/>
                     <mif:supplierDomainSpecification codingStrength="CNE" domainName="ResponseMode"/>
                  </mif:attribute>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="versionCode" type="CS" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <mif:attribute name="versionCode" sortKey="5" minimumMultiplicity="1" maximumMultiplicity="1"
                                 conformance="R"
                                 isMandatory="true"
                                 fixedValue="V3-2008N"
                                 isStructural="false">
                     <mif:businessName name="C: HL7 Standard Version"/>
                     <mif:annotations>
                        <mif:definition>
                           <mif:text>
                              <mif:p>
                                 <mif:p>Indicates the version of the messaging standard being referenced.</mif:p>
                              </mif:p>
                           </mif:text>
                        </mif:definition>
                        <mif:rationale>
                           <mif:text>
                              <mif:p>
                                 <mif:p>Needed to know how to validate message definition, CMET definition, vocabulary and other information and is therefore mandatory.</mif:p>
                              </mif:p>
                           </mif:text>
                        </mif:rationale>
                        <mif:mapping sourceName="SOAP">
                           <mif:text>
                              <mif:p>
                                 <mif:p>soap:Header\wsa:To\ (portion between last “\” and second-last “\”)</mif:p>
                              </mif:p>
                           </mif:text>
                        </mif:mapping>
                     </mif:annotations>
                     <mif:derivationSupplier staticModelDerivationId="1" className="Message" attributeName="versionCode"/>
                     <mif:type name="CS"/>
                     <mif:supplierDomainSpecification codingStrength="CNE" codeSystemName="HL7StandardVersionCode"
                                                      mnemonic="V3-2008N"/>
                  </mif:attribute>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="interactionId" type="II" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <mif:attribute name="interactionId" sortKey="6" minimumMultiplicity="1"
                                 maximumMultiplicity="1"
                                 conformance="R"
                                 isMandatory="true"
                                 isStructural="false">
                     <mif:businessName name="B:Interaction Type"/>
                     <mif:annotations>
                        <mif:definition>
                           <mif:text>
                              <mif:p>
                                 <mif:p>Indicates the interaction conveyed by this message.</mif:p>
                              </mif:p>
                           </mif:text>
                        </mif:definition>
                        <mif:rationale>
                           <mif:text>
                              <mif:p>
                                 <mif:p>Identifies what the receiving application should do, and how the message should be validated. The attribute is therefore mandatory.</mif:p>
                              </mif:p>
                           </mif:text>
                        </mif:rationale>
                        <mif:mapping sourceName="SOAP">
                           <mif:text>
                              <mif:p>
                                 <mif:p>soap:Header\wsa:Action (after “urn:hl7-org:v3:” and before the second underscore, if any)</mif:p>
                              </mif:p>
                           </mif:text>
                        </mif:mapping>
                     </mif:annotations>
                     <mif:derivationSupplier staticModelDerivationId="1" className="Message" attributeName="interactionId"/>
                     <mif:type name="II.PUBLIC"/>
                  </mif:attribute>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="profileId" type="II" minOccurs="1" maxOccurs="10">
            <xs:annotation>
               <xs:appinfo>
                  <mif:attribute name="profileId" sortKey="7" minimumMultiplicity="1" maximumMultiplicity="10"
                                 conformance="R"
                                 isMandatory="true"
                                 isStructural="false">
                     <mif:businessName name="F:Conformance Profile Identifiers"/>
                     <mif:annotations>
                        <mif:definition>
                           <mif:text>
                              <mif:p>
                                 <mif:p>Identifies the conformance profile(s) this message complies with.</mif:p>
                              </mif:p>
                           </mif:text>
                        </mif:definition>
                        <mif:rationale>
                           <mif:text>
                              <mif:p>
                                 <mif:p>Indicates any additional validation that may be appropriate. Also influences what extensions can be processed.</mif:p>
                              </mif:p>
                           </mif:text>
                        </mif:rationale>
                     </mif:annotations>
                     <mif:derivationSupplier staticModelDerivationId="1" className="Message" attributeName="profileId"/>
                     <mif:type name="LIST">
                        <mif:supplierBindingArgumentDatatype name="II.BUS"/>
                     </mif:type>
                  </mif:attribute>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="processingCode" type="CS" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <mif:attribute name="processingCode" sortKey="8" minimumMultiplicity="1"
                                 maximumMultiplicity="1"
                                 conformance="R"
                                 isMandatory="true"
                                 isStructural="false">
                     <mif:businessName name="DB:Processing Code"/>
                     <mif:annotations>
                        <mif:definition>
                           <mif:text>
                              <mif:p>
                                 <mif:p>Indicates whether this message is intended to be processed as production, test or debug message.</mif:p>
                              </mif:p>
                           </mif:text>
                        </mif:definition>
                        <mif:rationale>
                           <mif:text>
                              <mif:p>
                                 <mif:p>Indicates how the message should be handled and is therefore mandatory.</mif:p>
                              </mif:p>
                           </mif:text>
                        </mif:rationale>
                        <mif:mapping sourceName="SOAP">
                           <mif:text>
                              <mif:p>
                                 <mif:p>soap:Header\wsa:To\(portion between second-last “\” and third-last “\”)</mif:p>
                              </mif:p>
                           </mif:text>
                        </mif:mapping>
                     </mif:annotations>
                     <mif:derivationSupplier staticModelDerivationId="1" className="Message" attributeName="processingCode"/>
                     <mif:type name="CS"/>
                     <mif:supplierDomainSpecification codingStrength="CNE" domainName="ProcessingID"/>
                  </mif:attribute>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="processingModeCode" type="CS" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <mif:attribute name="processingModeCode" sortKey="9" minimumMultiplicity="1"
                                 maximumMultiplicity="1"
                                 conformance="R"
                                 isMandatory="true"
                                 fixedValue="T"
                                 isStructural="false">
                     <mif:businessName name="Processing Mode"/>
                     <mif:annotations>
                        <mif:definition>
                           <mif:text>
                              <mif:p>
                                 <mif:p>This attribute defines whether the message is being sent in current processing, archive mode, initial load mode, restore from archive mode,</mif:p>
                              </mif:p>
                           </mif:text>
                        </mif:definition>
                        <mif:rationale>
                           <mif:text>
                              <mif:p>
                                 <mif:p>Describes the mode of processing. For example current processing, archive mode, initial load mode, restore from archive mode.</mif:p>
                              </mif:p>
                           </mif:text>
                        </mif:rationale>
                     </mif:annotations>
                     <mif:derivationSupplier staticModelDerivationId="1" className="Message"
                                             attributeName="processingModeCode"/>
                     <mif:type name="CS"/>
                     <mif:supplierDomainSpecification codingStrength="CNE" codeSystemName="ProcessingMode" mnemonic="T"/>
                  </mif:attribute>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="acceptAckCode" type="CS" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <mif:attribute name="acceptAckCode" sortKey="10" minimumMultiplicity="1"
                                 maximumMultiplicity="1"
                                 conformance="R"
                                 isMandatory="true"
                                 isStructural="false">
                     <mif:businessName name="E:Desired Acknowledgment Type"/>
                     <mif:annotations>
                        <mif:definition>
                           <mif:text>
                              <mif:p>
                                 <mif:p>Indicates how the message is expected to be acknowledged.</mif:p>
                              </mif:p>
                           </mif:text>
                        </mif:definition>
                        <mif:usageNotes>
                           <mif:text>
                              <mif:p>
                                 <mif:p>When using SOAP, this attribute MUST be set to NE (Never). (Accept acknowledgements are handled via the transport protocol, not HL7.)</mif:p>
                              </mif:p>
                           </mif:text>
                        </mif:usageNotes>
                        <mif:rationale>
                           <mif:text>
                              <mif:p>
                                 <mif:p>Provides support for immediate, deferred and polling mode and distinguishes which mode is desired. The attribute is therefore mandatory.</mif:p>
                              </mif:p>
                           </mif:text>
                        </mif:rationale>
                     </mif:annotations>
                     <mif:derivationSupplier staticModelDerivationId="1" className="Message" attributeName="acceptAckCode"/>
                     <mif:type name="CS"/>
                     <mif:supplierDomainSpecification codingStrength="CNE" domainName="AcknowledgementCondition"/>
                  </mif:attribute>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="receiver" type="MCCI_MT002300CA.Receiver" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <mif:targetConnection name="receiver" minimumMultiplicity="1" maximumMultiplicity="1" conformance="R"
                                        isMandatory="true"
                                        sortKey="AZ">
                     <mif:derivationSupplier staticModelDerivationId="1" className="Transmission"
                                             associationEndName="communicationFunction"/>
                     <mif:participantClass>
                        <mif:reference name="Receiver"/>
                     </mif:participantClass>
                  </mif:targetConnection>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="respondTo" type="MCCI_MT002300CA.RespondTo" nillable="true" minOccurs="0"
                     maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <mif:targetConnection name="respondTo" minimumMultiplicity="0" maximumMultiplicity="1"
                                        isMandatory="false"
                                        sortKey="AZ">
                     <mif:derivationSupplier staticModelDerivationId="1" className="Transmission"
                                             associationEndName="communicationFunction"/>
                     <mif:participantClass>
                        <mif:reference name="RespondTo"/>
                     </mif:participantClass>
                  </mif:targetConnection>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="sender" type="MCCI_MT002300CA.Sender" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <mif:targetConnection name="sender" minimumMultiplicity="1" maximumMultiplicity="1" conformance="R"
                                        isMandatory="true"
                                        sortKey="AZ">
                     <mif:derivationSupplier staticModelDerivationId="1" className="Transmission"
                                             associationEndName="communicationFunction"/>
                     <mif:participantClass>
                        <mif:reference name="Sender"/>
                     </mif:participantClass>
                  </mif:targetConnection>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="attentionLine" type="MCCI_MT002300CA.AttentionLine" nillable="true"
                     minOccurs="0"
                     maxOccurs="5">
            <xs:annotation>
               <xs:appinfo>
                  <mif:targetConnection name="attentionLine" minimumMultiplicity="0" maximumMultiplicity="5"
                                        isMandatory="false"
                                        sortKey="BZ">
                     <mif:derivationSupplier staticModelDerivationId="1" className="Transmission"
                                             associationEndName="attentionLine"/>
                     <mif:participantClass>
                        <mif:reference name="AttentionLine"/>
                     </mif:participantClass>
                  </mif:targetConnection>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="acknowledgement" type="MCCI_MT002300CA.Acknowledgement" minOccurs="1"
                     maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <mif:targetConnection name="acknowledgement" minimumMultiplicity="1" maximumMultiplicity="1"
                                        conformance="R"
                                        isMandatory="true"
                                        sortKey="CZ">
                     <mif:derivationSupplier staticModelDerivationId="1" className="Transmission"
                                             associationEndName="acknowledgedBy"/>
                     <mif:participantClass>
                        <mif:reference name="Acknowledgement"/>
                     </mif:participantClass>
                  </mif:targetConnection>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="controlActEvent" type="PRPA_IN101205CA.MFMI_MT700726CA.ControlActEvent"
                     nillable="true"
                     minOccurs="0"
                     maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <mif:targetConnection name="controlActEvent" minimumMultiplicity="0" maximumMultiplicity="1"
                                        conformance="R"
                                        isMandatory="false"
                                        sortKey="Z">
                     <mif:derivationSupplier staticModelDerivationId="1" className="Message" associationEndName="controlAct"/>
                     <mif:participantClass>
                        <mif:reference name="ControlActEvent"/>
                     </mif:participantClass>
                  </mif:targetConnection>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
   </xs:complexType>
   <xs:complexType name="PRPA_IN101205CA.MFMI_MT700726CA.ControlActEvent">
      <xs:annotation>
         <xs:appinfo>
            <mif:class name="ControlActEvent" isAbstract="false">
               <mif:businessName name="Trigger Event"/>
               <mif:derivationSupplier staticModelDerivationId="1" className="ControlAct"/>
               <mif:graphicRepresentation presentation="HL7">
                  <mif:graphElement shapeId="Sheet.168" containerDiagramName="Main" shapeTemplate="Act"
                                    isWidthAutoSize="true"
                                    isHeightAutoSize="false">
                     <mif:position x="4.919" y="2.511"/>
                     <mif:size width="3.669" height="7.903"/>
                  </mif:graphElement>
               </mif:graphicRepresentation>
               <mif:annotations>
                  <mif:definition>
                     <mif:text>
                        <mif:p>
                           <mif:p>Identifies the action that resulted in this message being sent.</mif:p>
                        </mif:p>
                     </mif:text>
                  </mif:definition>
                  <mif:usageNotes>
                     <mif:text>
                        <mif:p>
                           <mif:p>There may be constraints on the usage of the effectiveTime and reasonCode attributes in the definition of the interaction or the trigger events which are conveyed with this wrapper.</mif:p>
                        </mif:p>
                     </mif:text>
                  </mif:usageNotes>
                  <mif:rationale>
                     <mif:text>
                        <mif:p>
                           <mif:p>Key to understanding what action a message represents.</mif:p>
                        </mif:p>
                     </mif:text>
                  </mif:rationale>
               </mif:annotations>
            </mif:class>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <mif:attribute name="id" sortKey="3" minimumMultiplicity="1" maximumMultiplicity="1"
                                 conformance="R"
                                 isMandatory="true"
                                 isStructural="false">
                     <mif:businessName name="B:Event Identifier"/>
                     <mif:annotations>
                        <mif:definition>
                           <mif:text>
                              <mif:p>
                                 <mif:p>A unique identifier for this particular event assigned by the system in which the event occurred.</mif:p>
                              </mif:p>
                           </mif:text>
                        </mif:definition>
                        <mif:usageNotes>
                           <mif:text>
                              <mif:p>
                                 <mif:p>Identifier needs to be persisted by receiving applications, except for queries (queries cannot be retracted or undone). The identifier must be unique and different from the event identifier that is present on the request - it must be generated by the responding application.</mif:p>
                              </mif:p>
                           </mif:text>
                        </mif:usageNotes>
                        <mif:rationale>
                           <mif:text>
                              <mif:p>
                                 <mif:p>Allows the event to be referenced (for undos) and also indicates whether multiple interactions were caused by the same triggering event. Also used for audit purposes.</mif:p>
                              </mif:p>
                           </mif:text>
                        </mif:rationale>
                     </mif:annotations>
                     <mif:derivationSupplier staticModelDerivationId="1" className="ControlAct" attributeName="id"/>
                     <mif:type name="II.BUS"/>
                  </mif:attribute>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="code" type="CV" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <mif:attribute name="code" sortKey="4" minimumMultiplicity="1" maximumMultiplicity="1"
                                 conformance="R"
                                 isMandatory="true"
                                 isStructural="false">
                     <mif:businessName name="A:Event Type"/>
                     <mif:annotations>
                        <mif:definition>
                           <mif:text>
                              <mif:p>
                                 <mif:p>Identifies the trigger event that occurred.</mif:p>
                              </mif:p>
                           </mif:text>
                        </mif:definition>
                        <mif:rationale>
                           <mif:text>
                              <mif:p>
                                 <mif:p>This is mandatory because it is essential to understanding the meaning of the event.</mif:p>
                              </mif:p>
                           </mif:text>
                        </mif:rationale>
                     </mif:annotations>
                     <mif:derivationSupplier staticModelDerivationId="1" className="ControlAct" attributeName="code"/>
                     <mif:type name="CV"/>
                     <mif:supplierDomainSpecification codingStrength="CNE" domainName="HL7TriggerEventCode"/>
                  </mif:attribute>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="statusCode" type="CS" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <mif:attribute name="statusCode" sortKey="5" minimumMultiplicity="1" maximumMultiplicity="1"
                                 conformance="R"
                                 isMandatory="true"
                                 fixedValue="completed"
                                 isStructural="false">
                     <mif:annotations>
                        <mif:definition>
                           <mif:text>
                              <mif:p>
                                 <mif:p>Describes the status of the control act, which is always complete (it happened).</mif:p>
                              </mif:p>
                           </mif:text>
                        </mif:definition>
                        <mif:rationale>
                           <mif:text>
                              <mif:p>
                                 <mif:p>Required for completeness of specification.</mif:p>
                              </mif:p>
                           </mif:text>
                        </mif:rationale>
                     </mif:annotations>
                     <mif:derivationSupplier staticModelDerivationId="1" className="ControlAct" attributeName="statusCode"/>
                     <mif:type name="CS"/>
                     <mif:supplierDomainSpecification codingStrength="CNE" codeSystemName="ActStatus" mnemonic="completed"/>
                  </mif:attribute>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <mif:attribute name="effectiveTime" sortKey="6" minimumMultiplicity="0"
                                 maximumMultiplicity="1"
                                 conformance="R"
                                 isMandatory="false"
                                 isStructural="false">
                     <mif:businessName name="C:Event Effective Period"/>
                     <mif:annotations>
                        <mif:definition>
                           <mif:text>
                              <mif:p>
                                 <mif:p>Indicates the time the event (e.g. query, change, activation) should begin and occasionally when it should end.</mif:p>
                              </mif:p>
                           </mif:text>
                        </mif:definition>
                        <mif:rationale>
                           <mif:text>
                              <mif:p>
                                 <mif:p>The time an event becomes effective may differ from the time the event is recorded (i.e. it may be in the future or the past). For events such as 'suspend', an intended end date may also be indicated.</mif:p>
                              </mif:p>
                           </mif:text>
                        </mif:rationale>
                     </mif:annotations>
                     <mif:derivationSupplier staticModelDerivationId="1" className="ControlAct"
                                             attributeName="effectiveTime"/>
                     <mif:type name="IVL">
                        <mif:supplierBindingArgumentDatatype name="TS.FULLDATEWITHTIME"/>
                     </mif:type>
                  </mif:attribute>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="reasonCode" type="CV" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <mif:attribute name="reasonCode" sortKey="7" minimumMultiplicity="0" maximumMultiplicity="1"
                                 conformance="R"
                                 isMandatory="false"
                                 isStructural="false">
                     <mif:businessName name="E:Event Reason"/>
                     <mif:annotations>
                        <mif:definition>
                           <mif:text>
                              <mif:p>
                                 <mif:p>Identifies why this specific message interaction (e.g. query, activation request, modification request) occurred.</mif:p>
                              </mif:p>
                           </mif:text>
                        </mif:definition>
                        <mif:usageNotes>
                           <mif:text>
                              <mif:p>
                                 <mif:p>The domain associated with this attribute will vary for each interaction and will be noted as part of the interaction description.</mif:p>
                              </mif:p>
                           </mif:text>
                        </mif:usageNotes>
                        <mif:rationale>
                           <mif:text>
                              <mif:p>
                                 <mif:p>Allows identifying a reason for a specific action, such as 'reason for hold' or 'reason for accessing information'.</mif:p>
                              </mif:p>
                           </mif:text>
                        </mif:rationale>
                     </mif:annotations>
                     <mif:derivationSupplier staticModelDerivationId="1" className="ControlAct" attributeName="reasonCode"/>
                     <mif:type name="CV"/>
                     <mif:supplierDomainSpecification codingStrength="CWE" domainName="ControlActReason"/>
                  </mif:attribute>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="languageCode" type="CE" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <mif:attribute name="languageCode" sortKey="8" minimumMultiplicity="0" maximumMultiplicity="1"
                                 conformance="R"
                                 isMandatory="false"
                                 isStructural="false">
                     <mif:businessName name="Message Language"/>
                     <mif:derivationSupplier staticModelDerivationId="1" className="ControlAct" attributeName="languageCode"/>
                     <mif:type name="CE"/>
                     <mif:supplierDomainSpecification codingStrength="CNE" domainName="HumanLanguage"/>
                  </mif:attribute>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="subject" type="PRPA_IN101205CA.MFMI_MT700726CA.Subject2" minOccurs="1"
                     maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <mif:targetConnection name="subject" minimumMultiplicity="1" maximumMultiplicity="1" conformance="R"
                                        isMandatory="true"
                                        sortKey="BDB_______">
                     <mif:derivationSupplier staticModelDerivationId="1" className="Act"
                                             associationEndName="outboundRelationship"/>
                     <mif:participantClass>
                        <mif:reference name="Subject2"/>
                     </mif:participantClass>
                  </mif:targetConnection>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="subjectOf" type="MFMI_MT700726CA.Subject" nillable="true" minOccurs="0"
                     maxOccurs="50">
            <xs:annotation>
               <xs:appinfo>
                  <mif:targetConnection name="subjectOf" minimumMultiplicity="0" maximumMultiplicity="50"
                                        conformance="R"
                                        isMandatory="false"
                                        sortKey="CDB_______">
                     <mif:derivationSupplier staticModelDerivationId="1" className="Act"
                                             associationEndName="inboundRelationship"/>
                     <mif:participantClass>
                        <mif:reference name="Subject"/>
                     </mif:participantClass>
                  </mif:targetConnection>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="ActClass" use="optional" fixed="CACT"/>
      <xs:attribute name="moodCode" type="ActMood" use="optional" fixed="EVN"/>
   </xs:complexType>
   <xs:complexType name="PRPA_IN101205CA.MFMI_MT700726CA.Subject2">
      <xs:annotation>
         <xs:appinfo>
            <mif:class name="Subject2" isAbstract="false">
               <mif:businessName name="f:refers to"/>
               <mif:derivationSupplier staticModelDerivationId="1" className="ActRelationship"/>
               <mif:graphicRepresentation presentation="HL7">
                  <mif:graphElement shapeId="Sheet.126" containerDiagramName="Main" shapeTemplate="ActRelationship"
                                    textWrappingWidth="66.0"
                                    nodeOrientation="Down">
                     <mif:position x="5.598" y="10.414"/>
                     <mif:size width="2.326" height="1.161"/>
                  </mif:graphElement>
               </mif:graphicRepresentation>
               <mif:annotations>
                  <mif:definition>
                     <mif:text>
                        <mif:p>
                           <mif:p>Indicates the item(s) being acted upon by this trigger event.</mif:p>
                        </mif:p>
                        <mif:p>
                           <mif:p>Will be mandatory in wrappers with payload messages, otherwise not present.</mif:p>
                        </mif:p>
                     </mif:text>
                  </mif:definition>
                  <mif:usageNotes>
                     <mif:text>
                        <mif:p>
                           <mif:p>If there are multiple subject items, the changes to all of them must be either accepted or rejected as a single action. I.e. One trigger event = 1 unit of work.</mif:p>
                        </mif:p>
                     </mif:text>
                  </mif:usageNotes>
                  <mif:rationale>
                     <mif:text>
                        <mif:p>
                           <mif:p>Provides information about the thing being created, modified or removed.</mif:p>
                        </mif:p>
                     </mif:text>
                  </mif:rationale>
                  <mif:constraint>
                     <mif:text>
                        <mif:p>
                           <mif:p>On ‘creation’ interactions (where the state transition is null-&gt;active), this must be true otherwise it must be false.</mif:p>
                        </mif:p>
                     </mif:text>
                     <mif:graphicRepresentation>
                        <mif:graphElement shapeId="Sheet.221" containerDiagramName="Main" isWidthAutoSize="true"
                                          isHeightAutoSize="true">
                           <mif:position x="8.189" y="10.575"/>
                           <mif:size width="1.923" height="0.678"/>
                           <mif:anchorage connectToShapeId="Sheet.221">
                              <mif:position x="9.150" y="10.914"/>
                              <mif:graphEdge>
                                 <mif:anchor connectToShapeId="Sheet.126">
                                    <mif:position x="7.924" y="10.932"/>
                                 </mif:anchor>
                              </mif:graphEdge>
                           </mif:anchorage>
                        </mif:graphElement>
                     </mif:graphicRepresentation>
                  </mif:constraint>
               </mif:annotations>
            </mif:class>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="registrationEvent"
                     type="PRPA_IN101205CA.MFMI_MT700726CA.RegistrationEvent"
                     minOccurs="1"
                     maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <mif:targetConnection name="registrationEvent" minimumMultiplicity="1" maximumMultiplicity="1"
                                        conformance="R"
                                        isMandatory="true"
                                        sortKey="BZ">
                     <mif:derivationSupplier staticModelDerivationId="1" className="ActRelationship"
                                             associationEndName="target"/>
                     <mif:participantClass>
                        <mif:reference name="RegistrationEvent"/>
                     </mif:participantClass>
                  </mif:targetConnection>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ActRelationshipType" use="optional" fixed="SUBJ"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" fixed="ON"/>
      <xs:attribute name="contextConductionInd" type="bl" use="required"/>
   </xs:complexType>
   <xs:complexType name="PRPA_IN101205CA.MFMI_MT700726CA.RegistrationEvent">
      <xs:annotation>
         <xs:appinfo>
            <mif:class name="RegistrationEvent" isAbstract="false">
               <mif:businessName name="Registration Event"/>
               <mif:derivationSupplier staticModelDerivationId="1" className="Act"/>
               <mif:graphicRepresentation presentation="HL7">
                  <mif:graphElement shapeId="Sheet.172" containerDiagramName="Main" shapeTemplate="Act"
                                    isWidthAutoSize="false"
                                    isHeightAutoSize="true">
                     <mif:position x="5.030" y="11.575"/>
                     <mif:size width="3.478" height="0.750"/>
                  </mif:graphElement>
               </mif:graphicRepresentation>
               <mif:annotations>
                  <mif:definition>
                     <mif:text>
                        <mif:p>
                           <mif:p>This class contains information relevant to the registration of the payload item(s) into the Master File or Registry. This message is a response to a request to register (therefore, the mood is an event).</mif:p>
                        </mif:p>
                     </mif:text>
                  </mif:definition>
                  <mif:rationale>
                     <mif:text>
                        <mif:p>
                           <mif:p>The RegistrationProcess act is the focal act of the message and therefore is mandatory</mif:p>
                        </mif:p>
                     </mif:text>
                  </mif:rationale>
               </mif:annotations>
            </mif:class>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="statusCode" type="CS" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <mif:attribute name="statusCode" sortKey="3" minimumMultiplicity="1" maximumMultiplicity="1"
                                 conformance="R"
                                 isMandatory="true"
                                 fixedValue="active"
                                 isStructural="false">
                     <mif:derivationSupplier staticModelDerivationId="1" className="Act" attributeName="statusCode"/>
                     <mif:type name="CS"/>
                     <mif:supplierDomainSpecification codingStrength="CNE" codeSystemName="ActStatus" mnemonic="active"/>
                  </mif:attribute>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="subject" type="PRPA_IN101205CA.MFMI_MT700726CA.Subject4" minOccurs="1"
                     maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <mif:targetConnection name="subject" minimumMultiplicity="1" maximumMultiplicity="1" conformance="R"
                                        isMandatory="true"
                                        sortKey="AAA_______">
                     <mif:derivationSupplier staticModelDerivationId="1" className="Act" associationEndName="participation"/>
                     <mif:participantClass>
                        <mif:reference name="Subject4"/>
                     </mif:participantClass>
                  </mif:targetConnection>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="custodian" type="MFMI_MT700726CA.Custodian" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <mif:targetConnection name="custodian" minimumMultiplicity="1" maximumMultiplicity="1"
                                        conformance="R"
                                        isMandatory="true"
                                        sortKey="AG________">
                     <mif:derivationSupplier staticModelDerivationId="1" className="Act" associationEndName="participation"/>
                     <mif:participantClass>
                        <mif:reference name="Custodian"/>
                     </mif:participantClass>
                  </mif:targetConnection>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="replacementOf" type="MFMI_MT700726CA.ReplacementOf" nillable="true"
                     minOccurs="0"
                     maxOccurs="10">
            <xs:annotation>
               <xs:appinfo>
                  <mif:targetConnection name="replacementOf" minimumMultiplicity="0" maximumMultiplicity="10"
                                        isMandatory="false"
                                        sortKey="BBI_______">
                     <mif:derivationSupplier staticModelDerivationId="1" className="Act"
                                             associationEndName="outboundRelationship"/>
                     <mif:participantClass>
                        <mif:reference name="ReplacementOf"/>
                     </mif:participantClass>
                  </mif:targetConnection>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="ActClass" use="optional" fixed="REG"/>
      <xs:attribute name="moodCode" type="ActMood" use="optional" fixed="EVN"/>
   </xs:complexType>
   <xs:complexType name="PRPA_IN101205CA.MFMI_MT700726CA.Subject4">
      <xs:annotation>
         <xs:appinfo>
            <mif:class name="Subject4" isAbstract="false">
               <mif:businessName name="Registered Item"/>
               <mif:derivationSupplier staticModelDerivationId="1" className="Participation"/>
               <mif:graphicRepresentation presentation="HL7">
                  <mif:graphElement shapeId="Sheet.186" containerDiagramName="Main" shapeTemplate="Participation"
                                    textWrappingWidth="66.0"
                                    nodeOrientation="Down">
                     <mif:position x="5.619" y="12.325"/>
                     <mif:size width="2.314" height="0.675"/>
                  </mif:graphElement>
               </mif:graphicRepresentation>
               <mif:annotations>
                  <mif:definition>
                     <mif:text>
                        <mif:p>
                           <mif:p>Commonly called the Payload stub. Any interaction that uses this ControlAct Wrapper will replace this class with a Role-based domain Message Type</mif:p>
                        </mif:p>
                     </mif:text>
                  </mif:definition>
                  <mif:rationale>
                     <mif:text>
                        <mif:p>
                           <mif:p>Defines the content of the registration and is therefore mandatory.</mif:p>
                        </mif:p>
                     </mif:text>
                  </mif:rationale>
               </mif:annotations>
            </mif:class>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="identifiedEntity" type="PRPA_MT101102CA.IdentifiedEntity" minOccurs="1"
                     maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <mif:targetConnection name="registeredRole" minimumMultiplicity="1" maximumMultiplicity="1"
                                        conformance="R"
                                        isMandatory="true"
                                        sortKey="BZ">
                     <mif:derivationSupplier staticModelDerivationId="1" className="Participation" associationEndName="role"/>
                     <mif:participantClass>
                        <mif:reference name="RegisteredRole"/>
                     </mif:participantClass>
                  </mif:targetConnection>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ParticipationType" use="optional" fixed="SBJ"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" fixed="AN"/>
   </xs:complexType>
</xs:schema>