Solution Items/WSDL/CA/Schemas/PRPA_MT101101CA.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:hl7-org:v3"
           xmlns:ex="urn:hl7-org/v3-example"
           targetNamespace="urn:hl7-org:v3"
           elementFormDefault="qualified"><!--
*****************************************************************************************************************
* XML schema for message type PRPA_MT101101CA.
* Source information:
*     Rendered by: Visio to MIF transform
*     Rendered on: 
* 
*
* Generated by XMLITS version 3.2.2
*   MIF to XSD Transform $Id: StaticMifToXsd.xsl 7598 2009-03-16 19:52:42Z wbeeler $
*     Package Id Conversion: $Id: TransformPackageIds.xsl 7375 2009-01-26 19:26:53Z wbeeler $
*
* Copyright (c) 2002, 2003, 2004, 2005, 2006, 2007 Health Level Seven. All rights reserved.
*  Redistribution and use in source and binary forms, with or without
*  modification, are permitted provided that the following conditions
*  are met:
*  1. Redistributions of source code must retain the above copyright
*     notice, this list of conditions and the following disclaimer.
*  2. Redistributions in binary form must reproduce the above copyright
*     notice, this list of conditions and the following disclaimer in the
*     documentation and/or other materials provided with the distribution.
*  3. All advertising materials mentioning features or use of this software
*     must display the following acknowledgement:
*       This product includes software developed by Health Level Seven.
*  THIS SOFTWARE IS PROVIDED BY HEALTH LEVEL SEVEN, INC. AND CONTRIBUTORS "AS IS" AND
*  ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
*  IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
*  ARE DISCLAIMED.  IN NO EVENT SHALL THE REGENTS OR CONTRIBUTORS BE LIABLE
*  FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
*  DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS
*  OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
*  HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
*  LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY
*  OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
*  SUCH DAMAGE.
*
********************************************************************************************************************
	  --><xs:annotation>
      <xs:documentation>Generated using schema builder version 3.2.2. Stylesheets:

StaticMifToXsd.xsl version 2.0</xs:documentation>
      <xs:appinfo>
         <mif:serializedStaticModel xmlns:mif="urn:hl7-org:v3/mif" packageKind="realm"
                                    representationKind="serialized"
                                    isAbstract="false"
                                    title="Query by Client ID"
                                    isSerializable="true"
                                    name="CA">
            <mif:packageLocation root="DEFN" section="AM" subSection="PR" domain="PA" artifact="MT-deprecated"
                                 realm="CA"
                                 id="101101"/>
            <mif:header>
               <mif:renderingInformation schemaVersion="1" application="Visio to MIF transform"/>
               <mif:legalese copyrightOwner="Health Level Seven" copyrightYears="2010">
                  <mif:notation>All rights reserved.</mif:notation>
               </mif:legalese>
            </mif:header>
            <mif:graphicRepresentation presentation="HL7">
               <mif:graphElement name="Main">
                  <mif:position x="0.0" y="0.0"/>
                  <mif:size width="11.000" height="8.500"/>
               </mif:graphElement>
            </mif:graphicRepresentation>
            <mif:derivationSupplier staticModelDerivationId="1">
               <mif:targetStaticModel root="DEFN" artifact="RIM" version="0226"/>
            </mif:derivationSupplier>
            <mif:importedDatatypeModelPackage root="DEFN" artifact="DT" realm="CA" version="R02.04.xx"/>
            <mif:importedVocabularyModelPackage root="DEFN" artifact="VO" realm="CA" version="R02.04.xx"/>
            <mif:importedCommonModelElementPackage root="DEFN" artifact="CMET" realm="CA" version="R02.04.xx"/>
            <mif:ownedEntryPoint id="PRPA_MT101101CA" name="Query by Client ID" isAbstract="false">
               <mif:annotations>
                  <mif:description>
                     <mif:text>
                        <mif:p>Entry point for Query by Client ID message.</mif:p>
                     </mif:text>
                  </mif:description>
               </mif:annotations>
               <mif:graphicRepresentation>
                  <mif:graphElement shapeId="Sheet.5" containerDiagramName="Main">
                     <mif:position x="2.423" y="2.500"/>
                     <mif:size width="2.254" height="0.500"/>
                     <mif:anchorage connectToShapeId="Sheet.5">
                        <mif:position x="3.500" y="3.000"/>
                        <mif:graphEdge>
                           <mif:anchor connectToShapeId="Sheet.1">
                              <mif:position x="3.600" y="3.850"/>
                           </mif:anchor>
                        </mif:graphEdge>
                     </mif:anchorage>
                  </mif:graphElement>
               </mif:graphicRepresentation>
               <mif:specializedClass>
                  <mif:reference name="ParameterList"/>
               </mif:specializedClass>
            </mif:ownedEntryPoint>
         </mif:serializedStaticModel>
      </xs:appinfo>
   </xs:annotation>
   <xs:include schemaLocation="../coreschemas/infrastructureRoot.xsd"/>
   <xs:complexType name="PRPA_MT101101CA.ClientIDBus">
      <xs:annotation>
         <xs:appinfo>
            <mif:class xmlns:mif="urn:hl7-org:v3/mif" name="ClientIDBus" isAbstract="false">
               <mif:businessName name="Business Client Identifier"/>
               <mif:derivationSupplier staticModelDerivationId="1" className="ParameterItem"/>
               <mif:graphicRepresentation presentation="HL7">
                  <mif:graphElement shapeId="Sheet.219" containerDiagramName="Main" shapeTemplate="OtherClass"
                                    isWidthAutoSize="true"
                                    isHeightAutoSize="true">
                     <mif:position x="5.200" y="4.000"/>
                     <mif:size width="3.109" height="0.750"/>
                  </mif:graphElement>
               </mif:graphicRepresentation>
               <mif:annotations>
                  <mif:definition>
                     <mif:text>
                        <mif:p>
                           <mif:p>Parameter to query on unknown business/system assigned client identifier e.g. ECID</mif:p>
                        </mif:p>
                     </mif:text>
                  </mif:definition>
                  <mif:rationale>
                     <mif:text>
                        <mif:p>
                           <mif:p>Mandatory attribute supports business requirement to query on an uknown business/system assigned client identifier</mif:p>
                        </mif:p>
                     </mif:text>
                  </mif:rationale>
               </mif:annotations>
            </mif:class>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="value" type="II" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <mif:attribute xmlns:mif="urn:hl7-org:v3/mif" name="value" sortKey="1" minimumMultiplicity="1"
                                 maximumMultiplicity="1"
                                 conformance="R"
                                 isMandatory="true"
                                 isStructural="false">
                     <mif:businessName name="Client Healthcare Identification Number"/>
                     <mif:annotations>
                        <mif:definition>
                           <mif:text>
                              <mif:p>
                                 <mif:p>This identification attribute supports capture of a healthcare identifier specific to the client. This identifier may be assigned jurisdictionally or by care facility.</mif:p>
                              </mif:p>
                           </mif:text>
                        </mif:definition>
                        <mif:usageNotes>
                           <mif:text>
                              <mif:p>
                                 <mif:p>At least 1 client identifier must be present in the message</mif:p>
                              </mif:p>
                              <mif:p>
                                 <mif:p>Text constraint exists on the model to support non mandatory requirements either a Public or Business Identifier must be supplied to support this Query.</mif:p>
                              </mif:p>
                           </mif:text>
                        </mif:usageNotes>
                        <mif:rationale>
                           <mif:text>
                              <mif:p>
                                 <mif:p>Mandatory attribute supports unique identification of the client and is a public identifier. E.G. Internal Business ID</mif:p>
                              </mif:p>
                           </mif:text>
                        </mif:rationale>
                     </mif:annotations>
                     <mif:derivationSupplier staticModelDerivationId="1" className="ParameterItem" attributeName="value"/>
                     <mif:type name="II.BUS"/>
                  </mif:attribute>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
   </xs:complexType>
   <xs:complexType name="PRPA_MT101101CA.ClientIDPub">
      <xs:annotation>
         <xs:appinfo>
            <mif:class xmlns:mif="urn:hl7-org:v3/mif" name="ClientIDPub" isAbstract="false">
               <mif:businessName name="Public Client Identifier"/>
               <mif:derivationSupplier staticModelDerivationId="1" className="ParameterItem"/>
               <mif:graphicRepresentation presentation="HL7">
                  <mif:graphElement shapeId="Sheet.205" containerDiagramName="Main" shapeTemplate="OtherClass"
                                    isWidthAutoSize="false"
                                    isHeightAutoSize="true">
                     <mif:position x="5.200" y="5.050"/>
                     <mif:size width="3.000" height="0.750"/>
                  </mif:graphElement>
               </mif:graphicRepresentation>
               <mif:annotations>
                  <mif:definition>
                     <mif:text>
                        <mif:p>
                           <mif:p>Parameter to query on known public client identifier</mif:p>
                        </mif:p>
                     </mif:text>
                  </mif:definition>
                  <mif:rationale>
                     <mif:text>
                        <mif:p>
                           <mif:p>Mandatory attribute supports business requirement to query on a known public client identifier</mif:p>
                        </mif:p>
                     </mif:text>
                  </mif:rationale>
               </mif:annotations>
            </mif:class>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="value" type="II" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <mif:attribute xmlns:mif="urn:hl7-org:v3/mif" name="value" sortKey="1" minimumMultiplicity="1"
                                 maximumMultiplicity="1"
                                 conformance="R"
                                 isMandatory="true"
                                 isStructural="false">
                     <mif:businessName name="Client Healthcare Identification Number"/>
                     <mif:annotations>
                        <mif:definition>
                           <mif:text>
                              <mif:p>
                                 <mif:p>This identification attribute supports capture of a healthcare identifier specific to the client. This identifier may be assigned jurisdictionally or by care facility.</mif:p>
                              </mif:p>
                           </mif:text>
                        </mif:definition>
                        <mif:usageNotes>
                           <mif:text>
                              <mif:p>
                                 <mif:p>At least 1 client identifier must be present in the message</mif:p>
                              </mif:p>
                              <mif:p>
                                 <mif:p>Text constraint exists on the model to support non mandatory requirements either a Public or Business Identifier must be supplied to support this Query.</mif:p>
                              </mif:p>
                           </mif:text>
                        </mif:usageNotes>
                        <mif:rationale>
                           <mif:text>
                              <mif:p>
                                 <mif:p>Mandatory attribute supports unique identification of the client and is a public identifier. E.G. Provincial Health Care Number</mif:p>
                              </mif:p>
                           </mif:text>
                        </mif:rationale>
                     </mif:annotations>
                     <mif:derivationSupplier staticModelDerivationId="1" className="ParameterItem" attributeName="value"/>
                     <mif:type name="II.PUBLIC"/>
                  </mif:attribute>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
   </xs:complexType>
   <xs:complexType name="PRPA_MT101101CA.ParameterList">
      <xs:annotation>
         <xs:appinfo>
            <mif:class xmlns:mif="urn:hl7-org:v3/mif" name="ParameterList" isAbstract="false">
               <mif:derivationSupplier staticModelDerivationId="1" className="ParameterList"/>
               <mif:graphicRepresentation presentation="HL7">
                  <mif:graphElement shapeId="Sheet.1" containerDiagramName="Main" shapeTemplate="OtherClass"
                                    isWidthAutoSize="true"
                                    isHeightAutoSize="false">
                     <mif:position x="2.975" y="3.850"/>
                     <mif:size width="1.250" height="2.100"/>
                  </mif:graphElement>
               </mif:graphicRepresentation>
               <mif:annotations>
                  <mif:definition>
                     <mif:text>
                        <mif:p>
                           <mif:p>Entry Point</mif:p>
                        </mif:p>
                     </mif:text>
                  </mif:definition>
                  <mif:constraint>
                     <mif:text>
                        <mif:p>
                           <mif:p>either a Public or Business Identifier must be supplied to support this Query</mif:p>
                        </mif:p>
                     </mif:text>
                     <mif:graphicRepresentation>
                        <mif:graphElement shapeId="Sheet.233" containerDiagramName="Main" isWidthAutoSize="true"
                                          isHeightAutoSize="true">
                           <mif:position x="0.800" y="4.619"/>
                           <mif:size width="1.800" height="0.561"/>
                           <mif:anchorage connectToShapeId="Sheet.233">
                              <mif:position x="1.700" y="4.900"/>
                              <mif:graphEdge>
                                 <mif:anchor connectToShapeId="Sheet.1">
                                    <mif:position x="2.975" y="4.900"/>
                                 </mif:anchor>
                              </mif:graphEdge>
                           </mif:anchorage>
                        </mif:graphElement>
                     </mif:graphicRepresentation>
                  </mif:constraint>
               </mif:annotations>
            </mif:class>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="clientIDBus" type="PRPA_MT101101CA.ClientIDBus" nillable="true"
                     minOccurs="0"
                     maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <mif:targetConnection xmlns:mif="urn:hl7-org:v3/mif" name="clientIDBus" minimumMultiplicity="0"
                                        maximumMultiplicity="1"
                                        conformance="R"
                                        isMandatory="false"
                                        sortKey="Z ZZ">
                     <mif:derivationSupplier staticModelDerivationId="1" className="ParameterList"
                                             associationEndName="parameter"/>
                     <mif:participantClass>
                        <mif:reference name="ClientIDBus"/>
                     </mif:participantClass>
                  </mif:targetConnection>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="clientIDPub" type="PRPA_MT101101CA.ClientIDPub" nillable="true"
                     minOccurs="0"
                     maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <mif:targetConnection xmlns:mif="urn:hl7-org:v3/mif" name="clientIDPub" minimumMultiplicity="0"
                                        maximumMultiplicity="1"
                                        conformance="R"
                                        isMandatory="false"
                                        sortKey="Z ZZ">
                     <mif:derivationSupplier staticModelDerivationId="1" className="ParameterList"
                                             associationEndName="parameter"/>
                     <mif:participantClass>
                        <mif:reference name="ClientIDPub"/>
                     </mif:participantClass>
                  </mif:targetConnection>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
   </xs:complexType>
</xs:schema>