Solution Items/WSDL/CA/Schemas/PRPA_MT101103CA.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:hl7-org:v3"
           xmlns:ex="urn:hl7-org/v3-example"
           targetNamespace="urn:hl7-org:v3"
           elementFormDefault="qualified"><!--
*****************************************************************************************************************
* XML schema for message type PRPA_MT101103CA.
* Source information:
*     Rendered by: Visio to MIF transform
*     Rendered on: 
* 
*
* Generated by XMLITS version 3.2.2
*   MIF to XSD Transform $Id: StaticMifToXsd.xsl 7598 2009-03-16 19:52:42Z wbeeler $
*     Package Id Conversion: $Id: TransformPackageIds.xsl 7375 2009-01-26 19:26:53Z wbeeler $
*
* Copyright (c) 2002, 2003, 2004, 2005, 2006, 2007 Health Level Seven. All rights reserved.
*  Redistribution and use in source and binary forms, with or without
*  modification, are permitted provided that the following conditions
*  are met:
*  1. Redistributions of source code must retain the above copyright
*     notice, this list of conditions and the following disclaimer.
*  2. Redistributions in binary form must reproduce the above copyright
*     notice, this list of conditions and the following disclaimer in the
*     documentation and/or other materials provided with the distribution.
*  3. All advertising materials mentioning features or use of this software
*     must display the following acknowledgement:
*       This product includes software developed by Health Level Seven.
*  THIS SOFTWARE IS PROVIDED BY HEALTH LEVEL SEVEN, INC. AND CONTRIBUTORS "AS IS" AND
*  ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
*  IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
*  ARE DISCLAIMED.  IN NO EVENT SHALL THE REGENTS OR CONTRIBUTORS BE LIABLE
*  FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
*  DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS
*  OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
*  HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
*  LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY
*  OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
*  SUCH DAMAGE.
*
********************************************************************************************************************
	  --><xs:annotation>
      <xs:documentation>Generated using schema builder version 3.2.2. Stylesheets:

StaticMifToXsd.xsl version 2.0</xs:documentation>
      <xs:appinfo>
         <mif:serializedStaticModel xmlns:mif="urn:hl7-org:v3/mif" packageKind="realm"
                                    representationKind="serialized"
                                    isAbstract="false"
                                    title="Query by Client Demographics"
                                    isSerializable="true"
                                    name="CA">
            <mif:packageLocation root="DEFN" section="AM" subSection="PR" domain="PA" artifact="MT-deprecated"
                                 realm="CA"
                                 id="101103"/>
            <mif:header>
               <mif:renderingInformation schemaVersion="1" application="Visio to MIF transform"/>
               <mif:legalese copyrightOwner="Health Level Seven" copyrightYears="2010">
                  <mif:notation>All rights reserved.</mif:notation>
               </mif:legalese>
            </mif:header>
            <mif:graphicRepresentation presentation="HL7">
               <mif:graphElement name="Main">
                  <mif:position x="0.0" y="0.0"/>
                  <mif:size width="10.516" height="9.338"/>
               </mif:graphElement>
            </mif:graphicRepresentation>
            <mif:derivationSupplier staticModelDerivationId="1">
               <mif:targetStaticModel root="DEFN" artifact="RIM" version="0226"/>
            </mif:derivationSupplier>
            <mif:importedDatatypeModelPackage root="DEFN" artifact="DT" realm="CA" version="R02.04.xx"/>
            <mif:importedVocabularyModelPackage root="DEFN" artifact="VO" realm="CA" version="R02.04.xx"/>
            <mif:importedCommonModelElementPackage root="DEFN" artifact="CMET" realm="CA" version="R02.04.xx"/>
            <mif:ownedEntryPoint id="PRPA_MT101103CA" name="Query by Client Demographics" isAbstract="false">
               <mif:annotations>
                  <mif:description>
                     <mif:text>
                        <mif:p>Entry point for Query by Client Demographics Query.</mif:p>
                     </mif:text>
                  </mif:description>
               </mif:annotations>
               <mif:graphicRepresentation>
                  <mif:graphElement shapeId="Sheet.144" containerDiagramName="Main">
                     <mif:position x="3.823" y="0.028"/>
                     <mif:size width="2.711" height="0.500"/>
                     <mif:anchorage connectToShapeId="Sheet.144">
                        <mif:position x="5.010" y="0.528"/>
                        <mif:graphEdge>
                           <mif:anchor connectToShapeId="Sheet.9">
                              <mif:position x="5.348" y="0.928"/>
                           </mif:anchor>
                        </mif:graphEdge>
                     </mif:anchorage>
                  </mif:graphElement>
               </mif:graphicRepresentation>
               <mif:specializedClass>
                  <mif:reference name="ParameterList"/>
               </mif:specializedClass>
            </mif:ownedEntryPoint>
         </mif:serializedStaticModel>
      </xs:appinfo>
   </xs:annotation>
   <xs:include schemaLocation="../coreschemas/infrastructureRoot.xsd"/>
   <xs:complexType name="PRPA_MT101103CA.AdministrativeGender">
      <xs:annotation>
         <xs:appinfo>
            <mif:class xmlns:mif="urn:hl7-org:v3/mif" name="AdministrativeGender" isAbstract="false">
               <mif:derivationSupplier staticModelDerivationId="1" className="ParameterItem"/>
               <mif:graphicRepresentation presentation="HL7">
                  <mif:graphElement shapeId="Sheet.219" containerDiagramName="Main" shapeTemplate="OtherClass"
                                    isWidthAutoSize="true"
                                    isHeightAutoSize="true">
                     <mif:position x="0.066" y="2.128"/>
                     <mif:size width="3.220" height="0.750"/>
                  </mif:graphElement>
               </mif:graphicRepresentation>
            </mif:class>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="value" type="CV" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <mif:attribute xmlns:mif="urn:hl7-org:v3/mif" name="value" sortKey="1" minimumMultiplicity="1"
                                 maximumMultiplicity="1"
                                 conformance="R"
                                 isMandatory="true"
                                 isStructural="false">
                     <mif:businessName name="Client Gender"/>
                     <mif:derivationSupplier staticModelDerivationId="1" className="ParameterItem" attributeName="value"/>
                     <mif:type name="CV"/>
                     <mif:supplierDomainSpecification codingStrength="CNE" domainName="AdministrativeGender"/>
                  </mif:attribute>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
   </xs:complexType>
   <xs:complexType name="PRPA_MT101103CA.ClientId">
      <xs:annotation>
         <xs:appinfo>
            <mif:class xmlns:mif="urn:hl7-org:v3/mif" name="ClientId" isAbstract="false">
               <mif:derivationSupplier staticModelDerivationId="1" className="ParameterItem"/>
               <mif:graphicRepresentation presentation="HL7">
                  <mif:graphElement shapeId="Sheet.73" containerDiagramName="Main" shapeTemplate="OtherClass"
                                    isWidthAutoSize="true"
                                    isHeightAutoSize="true">
                     <mif:position x="7.171" y="0.939"/>
                     <mif:size width="3.239" height="0.789"/>
                  </mif:graphElement>
               </mif:graphicRepresentation>
            </mif:class>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="value" type="II" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <mif:attribute xmlns:mif="urn:hl7-org:v3/mif" name="value" sortKey="1" minimumMultiplicity="1"
                                 maximumMultiplicity="1"
                                 conformance="R"
                                 isMandatory="true"
                                 isStructural="false">
                     <mif:businessName name=" (Client Healthcare Identification Number And Or NonHealthcare&#xA;   Identification"/>
                     <mif:derivationSupplier staticModelDerivationId="1" className="ParameterItem" attributeName="value"/>
                     <mif:type name="II.PUBLIC"/>
                  </mif:attribute>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
   </xs:complexType>
   <xs:complexType name="PRPA_MT101103CA.DeceasedIndicator">
      <xs:annotation>
         <xs:appinfo>
            <mif:class xmlns:mif="urn:hl7-org:v3/mif" name="DeceasedIndicator" isAbstract="false">
               <mif:derivationSupplier staticModelDerivationId="1" className="ParameterItem"/>
               <mif:graphicRepresentation presentation="HL7">
                  <mif:graphElement shapeId="Sheet.233" containerDiagramName="Main" shapeTemplate="OtherClass"
                                    isWidthAutoSize="true"
                                    isHeightAutoSize="true">
                     <mif:position x="0.010" y="3.328"/>
                     <mif:size width="1.930" height="0.750"/>
                  </mif:graphElement>
               </mif:graphicRepresentation>
            </mif:class>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="value" type="BL" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <mif:attribute xmlns:mif="urn:hl7-org:v3/mif" name="value" sortKey="1" minimumMultiplicity="0"
                                 maximumMultiplicity="1"
                                 conformance="R"
                                 isMandatory="false"
                                 isStructural="false">
                     <mif:businessName name="Deceased Indicator"/>
                     <mif:derivationSupplier staticModelDerivationId="1" className="ParameterItem" attributeName="value"/>
                     <mif:type name="BL"/>
                  </mif:attribute>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
   </xs:complexType>
   <xs:complexType name="PRPA_MT101103CA.DeceasedTime">
      <xs:annotation>
         <xs:appinfo>
            <mif:class xmlns:mif="urn:hl7-org:v3/mif" name="DeceasedTime" isAbstract="false">
               <mif:derivationSupplier staticModelDerivationId="1" className="ParameterItem"/>
               <mif:graphicRepresentation presentation="HL7">
                  <mif:graphElement shapeId="Sheet.237" containerDiagramName="Main" shapeTemplate="OtherClass"
                                    isWidthAutoSize="true"
                                    isHeightAutoSize="true">
                     <mif:position x="0.010" y="4.553"/>
                     <mif:size width="2.337" height="0.750"/>
                  </mif:graphElement>
               </mif:graphicRepresentation>
            </mif:class>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="value" type="TS" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <mif:attribute xmlns:mif="urn:hl7-org:v3/mif" name="value" sortKey="1" minimumMultiplicity="0"
                                 maximumMultiplicity="1"
                                 conformance="R"
                                 isMandatory="false"
                                 isStructural="false">
                     <mif:businessName name="Deceased Date"/>
                     <mif:derivationSupplier staticModelDerivationId="1" className="ParameterItem" attributeName="value"/>
                     <mif:type name="TS.DATETIME"/>
                  </mif:attribute>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
   </xs:complexType>
   <xs:complexType name="PRPA_MT101103CA.FathersName">
      <xs:annotation>
         <xs:appinfo>
            <mif:class xmlns:mif="urn:hl7-org:v3/mif" name="FathersName" isAbstract="false">
               <mif:derivationSupplier staticModelDerivationId="1" className="ParameterItem"/>
               <mif:graphicRepresentation presentation="HL7">
                  <mif:graphElement shapeId="Sheet.331" containerDiagramName="Main" shapeTemplate="OtherClass"
                                    isWidthAutoSize="true"
                                    isHeightAutoSize="true">
                     <mif:position x="5.437" y="8.563"/>
                     <mif:size width="2.163" height="0.750"/>
                  </mif:graphElement>
               </mif:graphicRepresentation>
            </mif:class>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="value" type="PN" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <mif:attribute xmlns:mif="urn:hl7-org:v3/mif" name="value" sortKey="1" minimumMultiplicity="1"
                                 maximumMultiplicity="1"
                                 conformance="R"
                                 isMandatory="true"
                                 isStructural="false">
                     <mif:businessName name="Father's Name"/>
                     <mif:annotations>
                        <mif:definition>
                           <mif:text>
                              <mif:p>
                                 <mif:p>This query parameter item is the name of the focal person's father.</mif:p>
                              </mif:p>
                           </mif:text>
                        </mif:definition>
                        <mif:usageNotes>
                           <mif:text>
                              <mif:p>
                                 <mif:p>This parameter does not map to a single RIM attribute, instead, in RIM terms Father's name is the person name part of "family" for the person who is the player in a PersonalRelationship of type of "father" to the focal person.</mif:p>
                              </mif:p>
                           </mif:text>
                        </mif:usageNotes>
                        <mif:rationale>
                           <mif:text>
                              <mif:p>
                                 <mif:p>It is included as a parameter item in order to further constrain the possible number of responses and increase the match probability to a single record.</mif:p>
                              </mif:p>
                           </mif:text>
                        </mif:rationale>
                     </mif:annotations>
                     <mif:derivationSupplier staticModelDerivationId="1" className="ParameterItem" attributeName="value"/>
                     <mif:type name="PN.BASIC"/>
                  </mif:attribute>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="semanticsText" type="ST" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <mif:attribute xmlns:mif="urn:hl7-org:v3/mif" name="semanticsText" sortKey="2"
                                 minimumMultiplicity="1"
                                 maximumMultiplicity="1"
                                 conformance="R"
                                 isMandatory="true"
                                 defaultValue="FathersName"
                                 isStructural="false">
                     <mif:derivationSupplier staticModelDerivationId="1" className="ParameterItem"
                                             attributeName="semanticsText"/>
                     <mif:type name="ST"/>
                  </mif:attribute>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
   </xs:complexType>
   <xs:complexType name="PRPA_MT101103CA.LanguageCode">
      <xs:annotation>
         <xs:appinfo>
            <mif:class xmlns:mif="urn:hl7-org:v3/mif" name="LanguageCode" isAbstract="false">
               <mif:derivationSupplier staticModelDerivationId="1" className="ParameterItem"/>
               <mif:graphicRepresentation presentation="HL7">
                  <mif:graphElement shapeId="Sheet.249" containerDiagramName="Main" shapeTemplate="OtherClass"
                                    isWidthAutoSize="true"
                                    isHeightAutoSize="true">
                     <mif:position x="8.102" y="5.738"/>
                     <mif:size width="2.196" height="0.750"/>
                  </mif:graphElement>
               </mif:graphicRepresentation>
            </mif:class>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="value" type="CV" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <mif:attribute xmlns:mif="urn:hl7-org:v3/mif" name="value" sortKey="1" minimumMultiplicity="0"
                                 maximumMultiplicity="1"
                                 conformance="R"
                                 isMandatory="false"
                                 isStructural="false">
                     <mif:businessName name="Language of Communication Code"/>
                     <mif:derivationSupplier staticModelDerivationId="1" className="ParameterItem" attributeName="value"/>
                     <mif:type name="CV"/>
                     <mif:supplierDomainSpecification codingStrength="CNE" domainName="HumanLanguage"/>
                  </mif:attribute>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
   </xs:complexType>
   <xs:complexType name="PRPA_MT101103CA.MothersMaidenName">
      <xs:annotation>
         <xs:appinfo>
            <mif:class xmlns:mif="urn:hl7-org:v3/mif" name="MothersMaidenName" isAbstract="false">
               <mif:derivationSupplier staticModelDerivationId="1" className="ParameterItem"/>
               <mif:graphicRepresentation presentation="HL7">
                  <mif:graphElement shapeId="Sheet.317" containerDiagramName="Main" shapeTemplate="OtherClass"
                                    isWidthAutoSize="true"
                                    isHeightAutoSize="true">
                     <mif:position x="1.858" y="8.578"/>
                     <mif:size width="2.552" height="0.750"/>
                  </mif:graphElement>
               </mif:graphicRepresentation>
            </mif:class>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="value" type="PN" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <mif:attribute xmlns:mif="urn:hl7-org:v3/mif" name="value" sortKey="1" minimumMultiplicity="1"
                                 maximumMultiplicity="1"
                                 conformance="R"
                                 isMandatory="true"
                                 isStructural="false">
                     <mif:businessName name="Mother's Maiden Name"/>
                     <mif:annotations>
                        <mif:definition>
                           <mif:text>
                              <mif:p>
                                 <mif:p>This query parameter is the maiden name of the focal person's mother.</mif:p>
                              </mif:p>
                           </mif:text>
                        </mif:definition>
                        <mif:usageNotes>
                           <mif:text>
                              <mif:p>
                                 <mif:p>This parameter does not map to a single RIM attribute, instead, in RIM terms Mother's maiden name is the person name part of "family" with an EntityNamePartQualifier of "birth" for the person who is the player in a PersonalRelationship of type of "mother" to the focal person.</mif:p>
                              </mif:p>
                           </mif:text>
                        </mif:usageNotes>
                        <mif:rationale>
                           <mif:text>
                              <mif:p>
                                 <mif:p>It is included as a parameter because it is a common attribute for confirming the identity of persons in some person registries.</mif:p>
                              </mif:p>
                           </mif:text>
                        </mif:rationale>
                     </mif:annotations>
                     <mif:derivationSupplier staticModelDerivationId="1" className="ParameterItem" attributeName="value"/>
                     <mif:type name="PN.BASIC"/>
                  </mif:attribute>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="semanticsText" type="ST" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <mif:attribute xmlns:mif="urn:hl7-org:v3/mif" name="semanticsText" sortKey="2"
                                 minimumMultiplicity="1"
                                 maximumMultiplicity="1"
                                 conformance="R"
                                 isMandatory="true"
                                 defaultValue="MothersMaidenName"
                                 isStructural="false">
                     <mif:derivationSupplier staticModelDerivationId="1" className="ParameterItem"
                                             attributeName="semanticsText"/>
                     <mif:type name="ST"/>
                  </mif:attribute>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
   </xs:complexType>
   <xs:complexType name="PRPA_MT101103CA.MultipleBirthIndicator">
      <xs:annotation>
         <xs:appinfo>
            <mif:class xmlns:mif="urn:hl7-org:v3/mif" name="MultipleBirthIndicator" isAbstract="false">
               <mif:derivationSupplier staticModelDerivationId="1" className="ParameterItem"/>
               <mif:graphicRepresentation presentation="HL7">
                  <mif:graphElement shapeId="Sheet.241" containerDiagramName="Main" shapeTemplate="OtherClass"
                                    isWidthAutoSize="true"
                                    isHeightAutoSize="true">
                     <mif:position x="0.010" y="5.728"/>
                     <mif:size width="2.387" height="0.750"/>
                  </mif:graphElement>
               </mif:graphicRepresentation>
            </mif:class>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="value" type="BL" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <mif:attribute xmlns:mif="urn:hl7-org:v3/mif" name="value" sortKey="1" minimumMultiplicity="0"
                                 maximumMultiplicity="1"
                                 conformance="R"
                                 isMandatory="false"
                                 isStructural="false">
                     <mif:businessName name="Client Multiple Birth Indicator"/>
                     <mif:derivationSupplier staticModelDerivationId="1" className="ParameterItem" attributeName="value"/>
                     <mif:type name="BL"/>
                  </mif:attribute>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
   </xs:complexType>
   <xs:complexType name="PRPA_MT101103CA.MultipleBirthOrderNumber">
      <xs:annotation>
         <xs:appinfo>
            <mif:class xmlns:mif="urn:hl7-org:v3/mif" name="MultipleBirthOrderNumber" isAbstract="false">
               <mif:derivationSupplier staticModelDerivationId="1" className="ParameterItem"/>
               <mif:graphicRepresentation presentation="HL7">
                  <mif:graphElement shapeId="Sheet.245" containerDiagramName="Main" shapeTemplate="OtherClass"
                                    isWidthAutoSize="true"
                                    isHeightAutoSize="true">
                     <mif:position x="0.010" y="6.978"/>
                     <mif:size width="2.979" height="0.750"/>
                  </mif:graphElement>
               </mif:graphicRepresentation>
            </mif:class>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="value" type="INT" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <mif:attribute xmlns:mif="urn:hl7-org:v3/mif" name="value" sortKey="1" minimumMultiplicity="0"
                                 maximumMultiplicity="1"
                                 conformance="R"
                                 isMandatory="false"
                                 isStructural="false">
                     <mif:businessName name="Client Multiple Birth Order Number"/>
                     <mif:derivationSupplier staticModelDerivationId="1" className="ParameterItem" attributeName="value"/>
                     <mif:type name="INT.POS"/>
                  </mif:attribute>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
   </xs:complexType>
   <xs:complexType name="PRPA_MT101103CA.ParameterList">
      <xs:annotation>
         <xs:appinfo>
            <mif:class xmlns:mif="urn:hl7-org:v3/mif" name="ParameterList" isAbstract="false">
               <mif:derivationSupplier staticModelDerivationId="1" className="ParameterList"/>
               <mif:graphicRepresentation presentation="HL7">
                  <mif:graphElement shapeId="Sheet.9" containerDiagramName="Main" shapeTemplate="OtherClass"
                                    isWidthAutoSize="true"
                                    isHeightAutoSize="false">
                     <mif:position x="4.410" y="0.928"/>
                     <mif:size width="1.250" height="7.200"/>
                  </mif:graphElement>
               </mif:graphicRepresentation>
            </mif:class>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="administrativeGender" type="PRPA_MT101103CA.AdministrativeGender"
                     nillable="true"
                     minOccurs="0"
                     maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <mif:targetConnection xmlns:mif="urn:hl7-org:v3/mif" name="administrativeGender"
                                        minimumMultiplicity="0"
                                        maximumMultiplicity="1"
                                        conformance="R"
                                        isMandatory="false"
                                        sortKey="Z ZZ">
                     <mif:derivationSupplier staticModelDerivationId="1" className="ParameterList"
                                             associationEndName="parameter"/>
                     <mif:participantClass>
                        <mif:reference name="AdministrativeGender"/>
                     </mif:participantClass>
                  </mif:targetConnection>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="clientId" type="PRPA_MT101103CA.ClientId" nillable="true" minOccurs="0"
                     maxOccurs="10">
            <xs:annotation>
               <xs:appinfo>
                  <mif:targetConnection xmlns:mif="urn:hl7-org:v3/mif" name="clientId" minimumMultiplicity="0"
                                        maximumMultiplicity="10"
                                        conformance="R"
                                        isMandatory="false"
                                        sortKey="Z ZZ">
                     <mif:derivationSupplier staticModelDerivationId="1" className="ParameterList"
                                             associationEndName="parameter"/>
                     <mif:participantClass>
                        <mif:reference name="ClientId"/>
                     </mif:participantClass>
                  </mif:targetConnection>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="deceasedIndicator" type="PRPA_MT101103CA.DeceasedIndicator"
                     nillable="true"
                     minOccurs="0"
                     maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <mif:targetConnection xmlns:mif="urn:hl7-org:v3/mif" name="deceasedIndicator" minimumMultiplicity="0"
                                        maximumMultiplicity="1"
                                        isMandatory="false"
                                        sortKey="Z ZZ">
                     <mif:derivationSupplier staticModelDerivationId="1" className="ParameterList"
                                             associationEndName="parameter"/>
                     <mif:participantClass>
                        <mif:reference name="DeceasedIndicator"/>
                     </mif:participantClass>
                  </mif:targetConnection>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="deceasedTime" type="PRPA_MT101103CA.DeceasedTime" nillable="true"
                     minOccurs="0"
                     maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <mif:targetConnection xmlns:mif="urn:hl7-org:v3/mif" name="deceasedTime" minimumMultiplicity="0"
                                        maximumMultiplicity="1"
                                        conformance="R"
                                        isMandatory="false"
                                        sortKey="Z ZZ">
                     <mif:derivationSupplier staticModelDerivationId="1" className="ParameterList"
                                             associationEndName="parameter"/>
                     <mif:participantClass>
                        <mif:reference name="DeceasedTime"/>
                     </mif:participantClass>
                  </mif:targetConnection>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="fathersName" type="PRPA_MT101103CA.FathersName" nillable="true"
                     minOccurs="0"
                     maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <mif:targetConnection xmlns:mif="urn:hl7-org:v3/mif" name="fathersName" minimumMultiplicity="0"
                                        maximumMultiplicity="1"
                                        isMandatory="false"
                                        sortKey="Z ZZ">
                     <mif:derivationSupplier staticModelDerivationId="1" className="ParameterList"
                                             associationEndName="parameter"/>
                     <mif:participantClass>
                        <mif:reference name="FathersName"/>
                     </mif:participantClass>
                  </mif:targetConnection>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="languageCode" type="PRPA_MT101103CA.LanguageCode" nillable="true"
                     minOccurs="0"
                     maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <mif:targetConnection xmlns:mif="urn:hl7-org:v3/mif" name="languageCode" minimumMultiplicity="0"
                                        maximumMultiplicity="1"
                                        conformance="R"
                                        isMandatory="false"
                                        sortKey="Z ZZ">
                     <mif:derivationSupplier staticModelDerivationId="1" className="ParameterList"
                                             associationEndName="parameter"/>
                     <mif:participantClass>
                        <mif:reference name="LanguageCode"/>
                     </mif:participantClass>
                  </mif:targetConnection>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="mothersMaidenName" type="PRPA_MT101103CA.MothersMaidenName"
                     nillable="true"
                     minOccurs="0"
                     maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <mif:targetConnection xmlns:mif="urn:hl7-org:v3/mif" name="mothersMaidenName" minimumMultiplicity="0"
                                        maximumMultiplicity="1"
                                        isMandatory="false"
                                        sortKey="Z ZZ">
                     <mif:derivationSupplier staticModelDerivationId="1" className="ParameterList"
                                             associationEndName="parameter"/>
                     <mif:participantClass>
                        <mif:reference name="MothersMaidenName"/>
                     </mif:participantClass>
                  </mif:targetConnection>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="multipleBirthIndicator" type="PRPA_MT101103CA.MultipleBirthIndicator"
                     nillable="true"
                     minOccurs="0"
                     maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <mif:targetConnection xmlns:mif="urn:hl7-org:v3/mif" name="multipleBirthIndicator"
                                        minimumMultiplicity="0"
                                        maximumMultiplicity="1"
                                        conformance="R"
                                        isMandatory="false"
                                        sortKey="Z ZZ">
                     <mif:derivationSupplier staticModelDerivationId="1" className="ParameterList"
                                             associationEndName="parameter"/>
                     <mif:participantClass>
                        <mif:reference name="MultipleBirthIndicator"/>
                     </mif:participantClass>
                  </mif:targetConnection>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="multipleBirthOrderNumber" type="PRPA_MT101103CA.MultipleBirthOrderNumber"
                     nillable="true"
                     minOccurs="0"
                     maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <mif:targetConnection xmlns:mif="urn:hl7-org:v3/mif" name="multipleBirthOrderNumber"
                                        minimumMultiplicity="0"
                                        maximumMultiplicity="1"
                                        conformance="R"
                                        isMandatory="false"
                                        sortKey="Z ZZ">
                     <mif:derivationSupplier staticModelDerivationId="1" className="ParameterList"
                                             associationEndName="parameter"/>
                     <mif:participantClass>
                        <mif:reference name="MultipleBirthOrderNumber"/>
                     </mif:participantClass>
                  </mif:targetConnection>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="personAddress" type="PRPA_MT101103CA.PersonAddress" nillable="true"
                     minOccurs="0"
                     maxOccurs="10">
            <xs:annotation>
               <xs:appinfo>
                  <mif:targetConnection xmlns:mif="urn:hl7-org:v3/mif" name="personAddress" minimumMultiplicity="0"
                                        maximumMultiplicity="10"
                                        conformance="R"
                                        isMandatory="false"
                                        sortKey="Z ZZ">
                     <mif:derivationSupplier staticModelDerivationId="1" className="ParameterList"
                                             associationEndName="parameter"/>
                     <mif:participantClass>
                        <mif:reference name="PersonAddress"/>
                     </mif:participantClass>
                  </mif:targetConnection>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="personBirthtime" type="PRPA_MT101103CA.PersonBirthtime" nillable="true"
                     minOccurs="0"
                     maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <mif:targetConnection xmlns:mif="urn:hl7-org:v3/mif" name="personBirthtime" minimumMultiplicity="0"
                                        maximumMultiplicity="1"
                                        conformance="R"
                                        isMandatory="false"
                                        sortKey="Z ZZ">
                     <mif:derivationSupplier staticModelDerivationId="1" className="ParameterList"
                                             associationEndName="parameter"/>
                     <mif:participantClass>
                        <mif:reference name="PersonBirthtime"/>
                     </mif:participantClass>
                  </mif:targetConnection>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="personName" type="PRPA_MT101103CA.PersonName" nillable="true"
                     minOccurs="0"
                     maxOccurs="10">
            <xs:annotation>
               <xs:appinfo>
                  <mif:targetConnection xmlns:mif="urn:hl7-org:v3/mif" name="personName" minimumMultiplicity="0"
                                        maximumMultiplicity="10"
                                        conformance="R"
                                        isMandatory="false"
                                        sortKey="Z ZZ">
                     <mif:derivationSupplier staticModelDerivationId="1" className="ParameterList"
                                             associationEndName="parameter"/>
                     <mif:participantClass>
                        <mif:reference name="PersonName"/>
                     </mif:participantClass>
                  </mif:targetConnection>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="personTelecom" type="PRPA_MT101103CA.PersonTelecom" nillable="true"
                     minOccurs="0"
                     maxOccurs="10">
            <xs:annotation>
               <xs:appinfo>
                  <mif:targetConnection xmlns:mif="urn:hl7-org:v3/mif" name="personTelecom" minimumMultiplicity="0"
                                        maximumMultiplicity="10"
                                        conformance="R"
                                        isMandatory="false"
                                        sortKey="Z ZZ">
                     <mif:derivationSupplier staticModelDerivationId="1" className="ParameterList"
                                             associationEndName="parameter"/>
                     <mif:participantClass>
                        <mif:reference name="PersonTelecom"/>
                     </mif:participantClass>
                  </mif:targetConnection>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="personalRelationshipCode" type="PRPA_MT101103CA.PersonalRelationshipCode"
                     nillable="true"
                     minOccurs="0"
                     maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <mif:targetConnection xmlns:mif="urn:hl7-org:v3/mif" name="personalRelationshipCode"
                                        minimumMultiplicity="0"
                                        maximumMultiplicity="1"
                                        conformance="R"
                                        isMandatory="false"
                                        sortKey="Z ZZ">
                     <mif:derivationSupplier staticModelDerivationId="1" className="ParameterList"
                                             associationEndName="parameter"/>
                     <mif:participantClass>
                        <mif:reference name="PersonalRelationshipCode"/>
                     </mif:participantClass>
                  </mif:targetConnection>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
   </xs:complexType>
   <xs:complexType name="PRPA_MT101103CA.PersonAddress">
      <xs:annotation>
         <xs:appinfo>
            <mif:class xmlns:mif="urn:hl7-org:v3/mif" name="PersonAddress" isAbstract="false">
               <mif:derivationSupplier staticModelDerivationId="1" className="ParameterItem"/>
               <mif:graphicRepresentation presentation="HL7">
                  <mif:graphElement shapeId="Sheet.5" containerDiagramName="Main" shapeTemplate="OtherClass"
                                    isWidthAutoSize="true"
                                    isHeightAutoSize="true">
                     <mif:position x="8.280" y="3.506"/>
                     <mif:size width="2.226" height="0.750"/>
                  </mif:graphElement>
               </mif:graphicRepresentation>
            </mif:class>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="value" type="AD" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <mif:attribute xmlns:mif="urn:hl7-org:v3/mif" name="value" sortKey="1" minimumMultiplicity="1"
                                 maximumMultiplicity="1"
                                 conformance="R"
                                 isMandatory="true"
                                 isStructural="false">
                     <mif:businessName name="Client Address"/>
                     <mif:derivationSupplier staticModelDerivationId="1" className="ParameterItem" attributeName="value"/>
                     <mif:type name="AD.SEARCH"/>
                  </mif:attribute>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
   </xs:complexType>
   <xs:complexType name="PRPA_MT101103CA.PersonBirthtime">
      <xs:annotation>
         <xs:appinfo>
            <mif:class xmlns:mif="urn:hl7-org:v3/mif" name="PersonBirthtime" isAbstract="false">
               <mif:derivationSupplier staticModelDerivationId="1" className="ParameterItem"/>
               <mif:graphicRepresentation presentation="HL7">
                  <mif:graphElement shapeId="Sheet.110" containerDiagramName="Main" shapeTemplate="OtherClass"
                                    isWidthAutoSize="true"
                                    isHeightAutoSize="true">
                     <mif:position x="7.888" y="4.780"/>
                     <mif:size width="2.522" height="0.750"/>
                  </mif:graphElement>
               </mif:graphicRepresentation>
            </mif:class>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="value" type="TS" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <mif:attribute xmlns:mif="urn:hl7-org:v3/mif" name="value" sortKey="1" minimumMultiplicity="1"
                                 maximumMultiplicity="1"
                                 conformance="R"
                                 isMandatory="true"
                                 isStructural="false">
                     <mif:businessName name="Client Date of Birth"/>
                     <mif:derivationSupplier staticModelDerivationId="1" className="ParameterItem" attributeName="value"/>
                     <mif:type name="TS.DATETIME"/>
                  </mif:attribute>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
   </xs:complexType>
   <xs:complexType name="PRPA_MT101103CA.PersonName">
      <xs:annotation>
         <xs:appinfo>
            <mif:class xmlns:mif="urn:hl7-org:v3/mif" name="PersonName" isAbstract="false">
               <mif:derivationSupplier staticModelDerivationId="1" className="ParameterItem"/>
               <mif:graphicRepresentation presentation="HL7">
                  <mif:graphElement shapeId="Sheet.1" containerDiagramName="Main" shapeTemplate="OtherClass"
                                    isWidthAutoSize="true"
                                    isHeightAutoSize="true">
                     <mif:position x="8.391" y="2.232"/>
                     <mif:size width="2.115" height="0.750"/>
                  </mif:graphElement>
               </mif:graphicRepresentation>
            </mif:class>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="value" type="PN" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <mif:attribute xmlns:mif="urn:hl7-org:v3/mif" name="value" sortKey="1" minimumMultiplicity="1"
                                 maximumMultiplicity="1"
                                 conformance="R"
                                 isMandatory="true"
                                 isStructural="false">
                     <mif:businessName name="Client Name"/>
                     <mif:derivationSupplier staticModelDerivationId="1" className="ParameterItem" attributeName="value"/>
                     <mif:type name="PN.SEARCH"/>
                  </mif:attribute>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
   </xs:complexType>
   <xs:complexType name="PRPA_MT101103CA.PersonTelecom">
      <xs:annotation>
         <xs:appinfo>
            <mif:class xmlns:mif="urn:hl7-org:v3/mif" name="PersonTelecom" isAbstract="false">
               <mif:derivationSupplier staticModelDerivationId="1" className="ParameterItem"/>
               <mif:graphicRepresentation presentation="HL7">
                  <mif:graphElement shapeId="Sheet.205" containerDiagramName="Main" shapeTemplate="OtherClass"
                                    isWidthAutoSize="true"
                                    isHeightAutoSize="true">
                     <mif:position x="0.010" y="0.978"/>
                     <mif:size width="2.485" height="0.750"/>
                  </mif:graphElement>
               </mif:graphicRepresentation>
            </mif:class>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="value" type="TEL" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <mif:attribute xmlns:mif="urn:hl7-org:v3/mif" name="value" sortKey="1" minimumMultiplicity="1"
                                 maximumMultiplicity="1"
                                 conformance="R"
                                 isMandatory="true"
                                 isStructural="false">
                     <mif:businessName name="Client Telecom"/>
                     <mif:derivationSupplier staticModelDerivationId="1" className="ParameterItem" attributeName="value"/>
                     <mif:type name="TEL.PHONEMAIL"/>
                  </mif:attribute>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
   </xs:complexType>
   <xs:complexType name="PRPA_MT101103CA.PersonalRelationshipCode">
      <xs:annotation>
         <xs:appinfo>
            <mif:class xmlns:mif="urn:hl7-org:v3/mif" name="PersonalRelationshipCode" isAbstract="false">
               <mif:derivationSupplier staticModelDerivationId="1" className="ParameterItem"/>
               <mif:graphicRepresentation presentation="HL7">
                  <mif:graphElement shapeId="Sheet.253" containerDiagramName="Main" shapeTemplate="OtherClass"
                                    isWidthAutoSize="true"
                                    isHeightAutoSize="true">
                     <mif:position x="7.400" y="6.788"/>
                     <mif:size width="2.804" height="0.750"/>
                  </mif:graphElement>
               </mif:graphicRepresentation>
            </mif:class>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="value" type="CV" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <mif:attribute xmlns:mif="urn:hl7-org:v3/mif" name="value" sortKey="1" minimumMultiplicity="0"
                                 maximumMultiplicity="1"
                                 conformance="R"
                                 isMandatory="false"
                                 isStructural="false">
                     <mif:businessName name="Client Next of Kin"/>
                     <mif:derivationSupplier staticModelDerivationId="1" className="ParameterItem" attributeName="value"/>
                     <mif:type name="CV"/>
                     <mif:supplierDomainSpecification codingStrength="CNE" domainName="PersonalRelationshipRoleType"/>
                  </mif:attribute>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
   </xs:complexType>
</xs:schema>