MARC.HI.EHRS.CR.Notification.PixPdq/Configuration/marc.hi.ehrs.cr.notification.pixpdq.xsd

<?xml version="1.0" encoding="utf-8"?>

<!--
Sample license text.
-->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="ActionType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Any"/>
      <xs:enumeration value="Create"/>
      <xs:enumeration value="Update"/>
      <xs:enumeration value="DuplicatesResolved"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ActorType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="PAT_IDENTITY_X_REF_MGR"/>
      <xs:enumeration value="PAT_IDENTITY_SRC"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="marc.hi.ehrs.cr.notification.pixpdq">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="targets" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="add" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="notify">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="action" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:attribute name="type" type="ActionType" use="required" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="domain" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="connectionString" type="xs:string" use="required" />
                  <xs:attribute name="name" type="xs:string" use="required" />
                  <xs:attribute name="myActor" type="ActorType" use="required"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="concurrencyLevel" type="xs:int" default="1"/>
    </xs:complexType>
  </xs:element>
</xs:schema>